---
import ConsultButton from "../ui/ConsultButton.astro";

interface HeroSectionProps {
  subtitle: string;
  title: string;
  emailLabel: {
    textEmail: string;
    color: string;
  };
  email: string;
  imageSrc: string;
  imageAlt: string;
  buttonHref?: string;
  sectionBg?: string;
  text?: string;
}

const {
  subtitle,
  title,
  emailLabel,
  email,
  imageSrc,
  imageAlt,
  sectionBg = "bg-gray-200",
  text = "",
} = Astro.props;
---

<section class={sectionBg}>
  <div class="container grid-cols-1 md:py-[150px] py-[80px] px-5 mx-auto max-w-screen-xl md:grid-cols-2 gap-x-8 grid items-center">
    <div class="col-span-1 flex flex-col custom-row-gap gap-y-[20px] md:mb-0 md:pr-10 text-center md:text-left">
      <h1 class="md:text-[19px] text-[18px] font-[600] tracking-[-0.5px] text-title">
        {subtitle}
      </h1>

      <h2 class="big-title title-hero-section title font-semibold text-title">
        {title}
      </h2>

      {text && (
        <p class="paragraph" style="margin-bottom:0 !important" set:html={text}></p>
      )}

      <div class="flex flex-col md:items-start items-center">
        <p class={`${emailLabel.color ? emailLabel.color : 'text-title '} text-[13px] font-[500] py-[5px] mb-[10px] tracking-[1.2px]`}>
          {emailLabel.textEmail}
        </p>
        <p class="border-bottom text-[31px] font-[600] text-title">
          {email}
        </p>
      </div>
    </div>

    <div class="col-span-1 flex z-10 justify-center">
      <div class="relative w-full">
        <img
          src={imageSrc}
          alt={imageAlt}
          width={1300}
          height={977}
          class="w-full h-full md:p-[20px] p-[25px] md:scale-100 lg:scale-100 rounded-lg"
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </div>
  </div>
</section>

