---
interface City {
  name: string;
  href: string;
}

interface Props {
  title?: string | TrustedHTML;
  text?: string;
  topic?: string;
}

const { title, text, topic } = Astro.props;

const moroccanCities: City[] = [
  { name: "Tanger", href: "https://www.hostino.ma/agence-seo-tanger/" },
  { name: "Rabat", href: "https://www.hostino.ma/agence-seo-rabat/" },
  { name: "Kénitra", href: "https://www.hostino.ma/agence-seo-kenitra/" },
  { name: "Tétouan", href: "https://www.hostino.ma/agence-seo-tetouan/" },
  { name: "Larache", href: "https://www.hostino.ma/agence-seo-larache/" },
  { name: "Asilah", href: "https://www.hostino.ma/agence-seo-asilah/" },
  {
    name: "Chefchaouen",
    href: "https://www.hostino.ma/agence-seo-chefchaouen/",
  },
  { name: "Al hoceima", href: "https://www.hostino.ma/agence-seo-al-hoceima/" },
  { name: "Nador", href: "https://www.hostino.ma/agence-seo-nador/" },
  { name: "Casablanca", href: "https://www.hostino.ma/agence-seo-casablanca/" },
  { name: "Khouribga", href: "https://www.hostino.ma/agence-seo-khouribga/" },
  { name: "Fes", href: "https://www.hostino.ma/agence-seo-fes/" },
  { name: "Meknès", href: "https://www.hostino.ma/agence-seo-meknes/" },
  { name: "Ifrane", href: "https://www.hostino.ma/agence-seo-ifrane/" },
  { name: "Marrakech", href: "https://www.hostino.ma/agence-seo-marrakech/" },
  { name: "Essaouira", href: "https://www.hostino.ma/agence-seo-essaouira/" },
  { name: "Benguerir", href: "https://www.hostino.ma/agence-seo-benguerir/" },
  { name: "Agadir", href: "https://www.hostino.ma/agence-seo-agadir/" },
  { name: "Laayoune", href: "https://www.hostino.ma/agence-seo-laayoune/" },
  { name: "Dakhla", href: "https://www.hostino.ma/agence-seo-dakhla/" },
];
---

<section class="lg:my-[150px] my-[80px]">
  <div class="container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-start">
      <div class="gap-4">
        {title && (
          <h2 class="big-title mb-[25px]" set:html={title as string}></h2>
        )}

        {text && (
          <p class="paragraph">
            {text}
          </p>
        )}

        <div class="grid md:grid-cols-2 grid-cols-1">
          {moroccanCities.map((city, index) => (
            <a
              key={index}
              href={city.href}
              class="text-title mb-[5px] transition-colors font-normal"
            >
              {topic} {city.name}
            </a>
          ))}
        </div>
      </div>

      <div class="rounded-lg overflow-hidden">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441728.5579234385!2d-9.998168768750002!3d31.791702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b265f3c7b1ab5%3A0x99f83ab3e9b22e25!2sMorocco!5e0!3m2!1sen!2sma!4v1234567890123!5m2!1sen!2sma"
          width="100%"
          height="550"
          style="border: 0"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full"
        ></iframe>
      </div>
    </div>
  </div>
</section>

