---
import MapEmbedProximite from "./MapEmbedProximite.astro";

interface Props {
  page: string;
  map?: boolean;
  title?: string;
  titleMap?: string;
  src?: string;
}

const { 
    page , 
    map=false , 
    title , 
    titleMap , 
    src 
  } = Astro.props;

const moroccanCities = [
  "Tanger",
  "Tétouan",
  "Larache",
  "Asilah",
  "Chefchaouen",
  "Ksar El Kébir",
  "Ouezzane",
  "Al Hoceïma",
  "Fès",
  "Meknès",
  "Séfrou",
  "Taza",
  "Taounate",
  "Khémisset",
  "Rabat",
  "Kénitra",
  "Sidi Kacem",
  "Sidi Slimane",
  "Casablanca",
  "Mohammédia",
  "El Jadida",
  "Khénifra",
  "Béni Mellal",
  "Khouribga",
  "Ifrane",
  "Marrakech",
  "Essaouira",
  "Benguerir",
];

const moroccanCitiesLinks = [
  "Tanger",
  "Tetouan",
  "Larache",
  "Asilah",
  "Chefchaouen",
  "Ksar El Kebir",
  "Ouezzane",
  "Al Hoceima",
  "Fes",
  "Meknes",
  "Sefrou",
  "Taza",
  "Taounate",
  "Khemisset",
  "Rabat",
  "Kenitra",
  "Sidi Kacem",
  "Sidi Slimane",
  "Casablanca",
  "Mohammedia",
  "El Jadida",
  "Khenifra",
  "Beni Mellal",
  "Khouribga",
  "Ifrane",
  "Marrakech",
  "Essaouira",
  "Benguerir",
];
---

<section class="lg:my-[150px] my-[80px] ">
  <div class="container mx-auto">
    <h2 class="title-section lg:w-[40%] md:w-[60%] sm:w-[70%] w-[90%] poppins-semibold  text-title mb-8 "
        set:html={title ? title : `Service <br> de proximité`}
    />
      
     {
    map && (
      <>
           <div class="w-[100%] my-[30px]">
             <MapEmbedProximite
                title={titleMap}
                src={src}
              />
            </div>
      </>
    )
   }
   
    <div class="flex flex-wrap gap-1">
      {moroccanCitiesLinks.map((city , index) => {
        const formattedCity = city.toLowerCase().replace(/\s+/g, "-");
        return (
          <a
            key={city}
            href={`/${page}-${formattedCity}`}
            class="py-[2.5px] px-[4px] border border-gray-400 text-[16px] text-title"
          >
            {moroccanCities[index]}
          </a>
        );
      })}
    </div>


  
  </div>
</section>

