---
import Layout from "../../layouts/Layout.astro";
import StartsRatingYellowFooter from "../../components/ui/StartsRatingYellowFooter.astro";
import { main_schema } from "../../mainSchema";

const title = "Politique cookies - Hostino";
const description =
  "Politique de cookies: Hostino utilise des cookies pour améliorer votre expérience de navigation sur notre site web.";
const imageUrl =
  "https://www.hostino.ma/wp-content/uploads/2024/10/hebergement-web.png";
const canonical_url = "https://www.hostino.ma/politique-cookies";
const ogAlt = "Politique cookies";

const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
    ...main_schema,
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hostino - Noms de domaine et hébergement web au Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: ogAlt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "920",
      },
    },
  ],
};
---

<Layout
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  articleSchema={articleSchema}
  lang="en"
>
  <main>
    <section class="lg:py-[110px] bg-gray-100 py-[80px]">
      <div class="container">
        <h1 class="big-title">Cookie Policy</h1>
      </div>
    </section>

    <section class="lg:my-[120px] my-[80px]">
      <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-8">
          {/* Sidebar */}
          <div
            class="border-1 side-bar-legal lg:col-span-3 md:col-span-5 col-span-1 rounded-[10px] py-[30px] px-[30px] border-gray-300"
            style={{ maxHeight: "maxContant" }}
          >
            <h3 class="text-[22px] poppins-semibold text-title mb-[20px]">
              Legal Documents
            </h3>
            <div class="w-full h-[1px] bg-gray-400 mb-[20px]"></div>

            <ul class="space-y-3">
              <li style="text-decoration: underline;">
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/terms"
                >
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/legal-notice">Legal Notice</a
                >
              </li>
              <li style="text-decoration: underline;">
                <a
                  href="/en/cookies-policy"
                  class="text-title text-[17px] active poppins-regular"
                  >Cookies Policy</a
                >
              </li>
              <li style="text-decoration: underline;">
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/privacy"
                >
                  Privacy Policy
                </a>
              </li>
              <li style="text-decoration: underline;">
                <a
                  class="text-title text-[17px] poppins-regular"
                  class="active"
                  href="/en/abuse"
                >
                  Anti-abuse Policy
                </a>
              </li>
            </ul>
          </div>

          {/* Content */}
          <div
            class="lg:col-span-9 md:col-span-7 col-span-1 text-legal-documents"
          >
            <div>
              <h3>Definition of a Cookie</h3>
              <p>
                A cookie is an information file that the server of Hostino's
                websites sends to the user's device (computer, smartphone,
                tablet, etc.) when they access the pages, in order to store and
                retrieve information about their browsing activity on that
                device. There are many resources available that explain what
                cookies are and what they are used for.<br />Here, we will
                explain how cookies affect Hostino's websites.<br />However, if
                you would like to learn more, you can consult the documentation
                published by the National Commission for the Control of Personal
                Data Protection (CNDP) on their <a
                  href="https://www.cndp.ma/wp-content/uploads/2023/01/CNDP-guide-conformite-sites-web-fr.pdf"
                  rel="noopener">official website</a
                >.
              </p>

              <h3>Scope of this Policy</h3>
              <p>
                This cookie policy applies to hostino.ma, as well as the other
                Hostino domains and subdomains listed below:
              </p>
              <ul class="list-disc">
                <li>www.hostino.ma</li>
                <li>www.hostino.ma/en</li>
                <li>www.hostino.com</li>
                <li>my.hostino.com</li>
                <li>webmail.hostino.com</li>
              </ul>

              <h3>Types of Cookies</h3>
              <p>
                There are different types of cookies, which can be classified
                according to the following criteria: (i) the entity that manages
                them, (ii) their purpose, and (iii) the duration for which they
                remain active.<br />According to the managing entity, cookies
                can be internal (first-party cookies), stored on the user's
                device by Hostino, or third-party cookies, stored by a domain or
                website other than Hostino, such as Google, YouTube, etc., which
                process personal data according to their own cookie and privacy
                policies.
              </p>
              <p>
                Based on their purpose, cookies may be: (i) strictly necessary
                or technical cookies, essential for user navigation (e.g.,
                enabling functions and services, traffic control, etc.); (ii)
                analytical cookies, which allow tracking and analysis of user
                behavior to measure website activity; and (iii) preference or
                personalization cookies, which store information to provide the
                user with a customized experience.
              </p>
              <p>
                Finally, based on duration, cookies may be: session cookies,
                which collect and store data only during the user's session; or
                persistent cookies, where data remains stored on the device and
                can be accessed and processed for a defined period set by the
                cookie controller, ranging from a few minutes to several years.
              </p>

              <h3>Use of Cookies</h3>
              <p>
                Hostino SARL AU, headquartered at T100 Technopark Tangier
                (MOROCCO), with <b>ICE 002984236000036</b> (hereinafter referred
                to as Hostino), uses the types of cookies detailed below for functional
                and statistical purposes, to detect fraudulent activities, and to
                measure the effectiveness of advertising campaigns and services.
              </p>
              <p>
                <b>Technical or Necessary Cookies</b><br />These cookies are
                essential for the proper functioning of the website and cannot
                be disabled in our systems.
              </p>
              <p>
                <b>Analytical Cookies</b><br />These cookies allow the tracking
                and analysis of the behavior of users of associated websites,
                including measuring the impact of advertisements.
              </p>
              <p>
                <b>Advertising Cookies</b><br />These cookies are related to the
                advertisements displayed to users and collect information about
                their browsing behavior in order to show relevant ads.
              </p>
              <p>The corresponding classification is presented below:</p>

              <table class="w-full">
                <thead>
                  <tr>
                    <th>Cookie</th>
                    <th>Details</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>_gcl_aw</td>
                    <td
                      >Domain: Google Ads<br />Description: Enables ad serving
                      or retargeting<br />Owner: Google<br />Duration: 90 days</td
                    >
                  </tr>
                  <tr>
                    <td>ads/ga-audiences</td>
                    <td
                      >Domain: Google Ads<br />Description: <br />Owner: Google<br
                      />Duration:</td
                    >
                  </tr>
                  <tr>
                    <td>usprivacy</td>
                    <td
                      >Domain: IAB TCF<br />Description: Stores privacy
                      preferences<br />Owner: IAB<br />Duration: varies</td
                    >
                  </tr>
                  <tr>
                    <td>crisp-clientsocket*</td>
                    <td
                      >Domain: Crisp Live Chat<br />Description: Stores chat
                      state<br />Owner: Crisp<br />Duration: 6 months</td
                    >
                  </tr>
                  <tr>
                    <td>_grecaptcha</td>
                    <td
                      >Domain: Google reCAPTCHA<br />Description: Provides spam
                      protection<br />Owner: Google<br />Duration: 6 months</td
                    >
                  </tr>
                  <tr>
                    <td>rc::c</td>
                    <td
                      >Domain: Google reCAPTCHA<br />Description: <br />Owner:
                      Google<br />Duration:</td
                    >
                  </tr>
                  <tr>
                    <td>rc::b</td>
                    <td
                      >Domain: Google reCAPTCHA<br />Description: <br />Owner:
                      Google<br />Duration:</td
                    >
                  </tr>
                  <tr>
                    <td>rc::a</td>
                    <td
                      >Domain: Google reCAPTCHA<br />Description: <br />Owner:
                      Google<br />Duration:</td
                    >
                  </tr>
                  <tr>
                    <td>mirage_cache_manifest</td>
                    <td
                      >Domain: Cloudflare<br />Description: <br />Owner:
                      Cloudflare<br />Duration: persistent</td
                    >
                  </tr>
                  <tr>
                    <td>cmplz_functional</td>
                    <td
                      >Domain: Complianz<br />Description: Stores cookie consent
                      preferences<br />Owner: Complianz<br />Duration: 365 days</td
                    >
                  </tr>
                  <tr>
                    <td>cmplz_statistics</td>
                    <td
                      >Domain: Complianz<br />Description: Stores cookie consent
                      preferences<br />Owner: Complianz<br />Duration: 365 days</td
                    >
                  </tr>
                  <tr>
                    <td>cmplz_preferences</td>
                    <td
                      >Domain: Complianz<br />Description: Stores cookie consent
                      preferences<br />Owner: Complianz<br />Duration: 365 days</td
                    >
                  </tr>
                  <tr>
                    <td>cmplz_marketing</td>
                    <td
                      >Domain: Complianz<br />Description: Stores cookie consent
                      preferences<br />Owner: Complianz<br />Duration: 365 days</td
                    >
                  </tr>
                  <tr>
                    <td>Google Maps API</td>
                    <td
                      >Domain: Google Maps<br />Description: Requests user IP
                      address<br />Owner: Google<br />Duration: none</td
                    >
                  </tr>
                  <tr>
                    <td>GPS</td>
                    <td
                      >Domain: YouTube<br />Description: Stores location data<br
                      />Owner: Google<br />Duration: session</td
                    >
                  </tr>
                  <tr>
                    <td>VISITOR_INFO1_LIVE</td>
                    <td
                      >Domain: YouTube<br />Description: Enables ad serving or
                      retargeting<br />Owner: Google<br />Duration: 6 months</td
                    >
                  </tr>
                  <tr>
                    <td>YSC</td>
                    <td
                      >Domain: YouTube<br />Description: Stores and tracks user
                      interactions<br />Owner: Google<br />Duration: session</td
                    >
                  </tr>
                  <tr>
                    <td>PREF</td>
                    <td
                      >Domain: YouTube<br />Description: Stores user preferences<br
                      />Owner: Google<br />Duration: 8 months</td
                    >
                  </tr>
                  <tr>
                    <td>_gcl_au</td>
                    <td
                      >Domain: Google Adsense<br />Description: Stores and
                      tracks conversions<br />Owner: Google<br />Duration:
                      persistent</td
                    >
                  </tr>
                  <tr>
                    <td>google_adsense_settings</td>
                    <td
                      >Domain: Google Adsense<br />Description: Enables ad
                      serving or retargeting<br />Owner: Google<br />Duration:
                      persistent</td
                    >
                  </tr>
                  <tr>
                    <td>_gcl_ls</td>
                    <td
                      >Domain: Google Adsense<br />Description: Stores and
                      tracks interactions<br />Owner: Google<br />Duration:</td
                    >
                  </tr>
                  <tr>
                    <td>Google Fonts API</td>
                    <td
                      >Domain: Google Fonts<br />Description: Requests user IP
                      address<br />Owner: Google<br />Duration: none</td
                    >
                  </tr>
                  <tr>
                    <td>elementor</td>
                    <td
                      >Domain: Elementor<br />Description: Stores user actions
                      on the website<br />Owner: Elementor<br />Duration:
                      persistent</td
                    >
                  </tr>
                  <tr>
                    <td>wpEmojiSettingsSupports</td>
                    <td
                      >Domain: WordPress<br />Description: Stores browser
                      information<br />Owner: WordPress<br />Duration: session</td
                    >
                  </tr>
                  <tr>
                    <td>wordpress_test_cookie</td>
                    <td
                      >Domain: WordPress<br />Description: Checks if cookies can
                      be set<br />Owner: WordPress<br />Duration: session</td
                    >
                  </tr>
                  <tr>
                    <td>wp_lang</td>
                    <td
                      >Domain: WordPress<br />Description: Stores language
                      settings<br />Owner: WordPress<br />Duration: session</td
                    >
                  </tr>
                  <tr>
                    <td>wp-settings-*</td>
                    <td
                      >Domain: WordPress<br />Description: Stores user
                      preferences<br />Owner: WordPress<br />Duration:
                      persistent</td
                    >
                  </tr>
                  <tr>
                    <td>wp-settings-time-*</td>
                    <td
                      >Domain: WordPress<br />Description: Stores user
                      preferences<br />Owner: WordPress<br />Duration: 1 year</td
                    >
                  </tr>
                  <tr>
                    <td>wordpress_logged_in_*</td>
                    <td
                      >Domain: WordPress<br />Description: Keeps users logged in<br
                      />Owner: WordPress<br />Duration: persistent</td
                    >
                  </tr>
                  <tr>
                    <td>wp_consent_*</td>
                    <td
                      >Domain: WordPress<br />Description: Stores cookie consent
                      preferences<br />Owner: WordPress<br />Duration: 1 month</td
                    >
                  </tr>
                </tbody>
              </table>

              <h3>Cookie Management via the Browser</h3>
              <p>
                The user can – at any time – choose which cookies they wish to
                allow on this website, including through their browser settings,
                for example:
              </p>
              <ul class="list-disc mb-[30px]">
                <li>
                  Chrome, by following <a
                    href="http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647"
                    target="_blank"
                    class="underline"
                    rel="noopener">these instructions
                    </a >.
                </li>
                <li>
                  Explorer, by following <a
                    href="https://support.microsoft.com/es-es/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d"
                    target="_blank"
                    class="underline"
                    rel="noopener">these instructions</a
                  >.
                </li>
                <li>
                  Firefox, by following <a
                    href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias"
                    target="_blank"
                    class="underline"
                    rel="noopener">these instructions</a
                  >.
                </li>
                <li>
                  Safari, by following <a
                    href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=en_US"
                    target="_blank"
                    class="underline"
                    rel="noopener">these instructions</a
                  >.
                </li>
                <li>
                  Opera, by following <a
                    href="https://help.opera.com/en/latest/web-preferences/#cookies"
                    target="_blank"
                    class="underline"
                    rel="noopener">these instructions</a
                  >.
                </li>
              </ul>
              <p>
                Web browsers are the tools responsible for storing cookies. It
                is through these browsers that the USER can exercise their right
                to delete or disable cookies.<br />Neither this website nor its
                legal representatives can guarantee the proper or improper
                handling of cookies by the browsers mentioned above.
              </p>
              <p>
                In some cases, it is necessary to install cookies so that the
                browser remembers the USER's decision not to accept them.
              </p>

              <h3>Acceptance of the Cookie Policy</h3>
              <p>
                Acceptance of this cookie policy implies that the USER has been
                clearly and fully informed about the use of data storage and
                retrieval tools (cookies), and that Hostino has the USER's
                consent to use them, in accordance with applicable data
                protection laws in Morocco, particularly Law 09-08 on the
                protection of individuals with regard to the processing of
                personal data, when such consent serves as the legal basis for
                processing.<br />In such cases, the USER may withdraw their
                consent at any time by adjusting their cookie preferences via
                the cookie management panel.
              </p>

              <h3>Questions or Requests</h3>
              <p>
                For any questions or requests regarding this cookie policy, the
                USER may contact Hostino at info@hostino.com.
              </p>
              <span class="poppins-regular text-[18px] text-gray-500 my-[30px]"><br />Last updated: April 11, 2025.</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
