---
import Layout from "../../layouts/Layout.astro";
import FAQSection from "../../components/commonSections/FaqSection.astro";
import ServiceProximite from "../../components/commonSections/ServiceProximite.astro";
import SixCards from "../../components/commonSections/SixCards.astro";
import TextLeftImageRight from "../../components/commonSections/TextLeftImageRight.astro";
import TextLeftVideoRight from "../../components/commonSections/TextLeftVideoRight.astro";
import TitleParagraphButton from "../../components/commonSections/TitleParagraphButton.astro";
import InputSearchDoamain from "../../components/commonSections/InputSearchDoamain.tsx";
import DomainSearchSectionEn from "../../components/HomeSectionEn/DomainSearchSectionEn.tsx";
import TrustedBySection from "../../components/commonSections/TrustedBySection.astro";
import DomainPricingSection from "../../components/sectionsNomDeDomaineMa/DomainPricingSection.astro";
import HeroHeadingPages from "../../components/ui/heroHeadingPages.astro";
import StartsRatingYellowFooter from "../../components/ui/StartsRatingYellowFooter.astro";
import { main_schema } from "../../mainSchema.ts";

const title = "Nom de domaine Maroc - .Ma à seulement 118 DH";
const description =
  "Nom de domaine Maroc. En quelques clics, enregistrez votre nom de domaine. Sécurisez votre .ma à 118 Dhs/an. Activation instantanée 24h/24.";
const imageUrl =
  "https://www.hostino.ma/images/nom-de-domaine.jpg";
const canonical_url = "https://www.hostino.ma/nom-de-domaine-ma";
const ogAlt = "Nom de domaine Maroc";

const faqData = [
  {
    question: "Is my .ma domain name activation instant ?",
    answers: [
      "The registration of your .ma domain name is completed instantly after your payment. A confirmation email is automatically sent to you to validate the operation.",
      "Activation usually occurs within a few minutes, unless the .ma domain name contains a reserved term, in which case manual validation by the ANRT is necessary.",
    ],
  },
  {
    question: "Is it possible to modify or cancel a .ma domain name after payment?",
    answers: [
      "As with all our local and international competitors, it is impossible to modify or cancel a .ma domain name registration.",
      "Once registered, the domain name remains active until its expiration date. If you do not renew it, it will be automatically deleted at the end of this period. Furthermore, the amount paid for registration is non-refundable.",
    ],
  },
  {
    question: "I'm not a Moroccan resident. Can I buy a .ma domain name ?",
    answers: [
      "Yes, non-Moroccan residents can indeed purchase a .ma domain name. The registration process operates on a first-come, first-served basis, you can successfully acquire a domain regardless of your place of residence.",
    ],
  },
  {
    question: "Can I manage the DNS of my .ma domain name?",
    answers: [
      'Yes, you can manage the DNS at any time from your Hostino <strong><span style="text-decoration: underline;"><a href="https://my.hostino.com/login?language=english" rel="noopener">client area</a></span></strong>, under the "Manage DNS" section, or directly from your cPanel account if hosting is associated with your domain name.',
    ],
  },
];

const domainOptions = [
  ".ma",
  ".com",
  ".net",
  ".info",
  ".org",
  ".co.ma",
  ".org.ma",
  ".net.ma",
  ".edu.ma",
  ".press.ma",
  ".gov.ma",
  ".ac.ma",
  ".us",
  ".es",
  ".fr",
  ".be",
  ".nl",
  ".it",
  ".de",
  ".ch",
  ".eu",
  ".ca",
  ".uk",
  ".co.uk",
  ".tv",
  ".biz",
  ".co",
  ".tech",
  ".cloud",
  ".store",
  ".shop",
  ".ai",
];

const domains = [
  {
    extension: "ma",
    oldPrice: "150 DH/year",
    newPrice: "118 DH/year",
  },
  {
    extension: "com",
    oldPrice: "180 DH/year",
    newPrice: "150 DH/year",
  },
  {
    extension: "net",
    oldPrice: "180 DH/year",
    newPrice: "150 DH/year",
  },
];

const domainPricingDataEn = {
  
  pricingMainTitle: ".ma Domain name prices",
  pricingIntroText: "Register your .ma domain today for just 118.00 MAD/year (excl. VAT).",
  domainRegistrationData: [
    {
      label: "Registration period",
      value: "1 to 5 years",
    },
    {
      label: "Renewal period",
      value: "1 to 5 years",
    },
    {
      label: "Registration delay",
      value: "Immediate",
      underline: true,
    },
    {
      label: "Domain length",
      value: "Between 2 and 63 characters",
    },
    {
      label: "Price",
      value: "118.00 MAD/year (excl. VAT)",
    },
  ],
  domainRenewalTitle: "Domain name renewal",
  domainRenewalText: "You can renew your .ma domain name for a period of 1 to 5 years at a rate of 118 Dhs/year, excluding VAT.",
  domainTransferTitle: "Domain name transfer",
  domainRenewalData : [],
  domainTransferData: [
    {
      label: "Period for completing the transfer procedure.",
      value: "5 – 10 days",
    },
    {
      label: "Price",
      value: "free",
    },
  ],
  ownerChangeTitle: "Change of ownership",
  ownerChangeData: [
    {
      label: "Price",
      value: "118.00 MAD excl. VAT per year.",
    },
  ],
  freeDomainTitle: "Free .ma domain name",
  freeDomainText: 'Get a free .ma domain for the first year with the purchase of any of our <a href="https://www.hostino.ma/en/business" style="text-decoration: underline;">Business web hosting</a> plans.',
};


const hostingFeatures = [
  {
    image: "08/lancer-domaine.png",
    title: ".MA Domain name to Launch <span><span>Your Website</span></span>",
    description: `Secure a strong local identity for your website with a .ma domain. Our high-standard servers, adhering to international security norms and delivering fast performance, are ready for you. Choose a <span style="text-decoration: underline;"><a href="https://www.hostino.ma/en/#cart"><b>web hosting</b></a></span> package and publish your site now!`,
  },
  {
    image: "08/email-domaine.png",
    title:
      ".MA Domain name to create <span><span>business emails</span></span>",
    description: `Boost your credibility and communication with personalized email addresses @yourcompany.ma. Select the appropriate <span style="text-decoration: underline;"><a href="https://www.hostino.ma/en/business-email/#cart"><b>Email package</b></a></span>, confirm your .ma domain, and enjoy professional messaging for your business.`,
  },
  {
    image: "08/shopify.png",
    title:
      ".MA Domain name for <span><span>Shopify</span></span>, and more",
    description: `Give your online store a unique Moroccan identity! Buy your MA domain name and connect it to Shopify, Squarespace, or any other platform in just a few clicks with our <b>free DNS service</b>. Start your e-commerce now with Hostino!`,
  },
];

const whyChooseNomDomaineHostino = [
  {
    image: "08/local.png",
    title: "Local <span class='border-bottom'>assistance</span>",
    description: "Local service provider, who invoices in MAD (Moroccan Dirham).",
  },
  {
    image: "08/price.png",
    title: "Competitive <span class='border-bottom'>prices</span>",
    description:
      "Save up to 50% compared to our international competitors.",
  },
  {
    image: "08/secure.png",
    title: "Secure <span class='border-bottom'>payment</span>",
    description:
      "Secure credit card processing for immediate service activation.",
  },
  {
    image: "08/accredited.png",
    title: "Accredited <span class='border-bottom'>registrar</span>",
    description: "Authorized by the ANRT, managing 2,000+ domains.",
  },
  {
    image: "08/dns.png",
    title: "Easy <span class='border-bottom'>management</span>",
    description:
      "Secure, intuitive, and user-friendly interface to managing your domains.",
  },
  {
    image: "08/fast-icon.png",
    title: "Instant <span class='border-bottom'>activation</span>",
    description:
      "Register your domain in less than 1 minute.",
  },
];

const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
    ...main_schema,
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hébergement web Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: ogAlt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "1490",
      },
    },
  ],
};
---

<Layout
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  articleSchema={articleSchema}
  lang="en"
>
  <main>
    <HeroHeadingPages
      smallTitle=".ma Domain name"
      bigTitle="Buy your</br> .ma Domain name"
      lineGreen={false}
    />

    <section class="bg-gray-200 md:pb-[100px] pb-[80px]">
      <div class="container flex flex-col items-center text-center justify-center">
        <p class="paragraph">
        Secure your .MA domain name today and secure your digital Moroccan identity.
          </p>

        <InputSearchDoamain
          placeholder="Search for a domain name"
          nameButton="Search"
          client:load id="ma" />

        <div class="grid mt-[10px] grid-cols-4 lg:gap-22 md:gap-20 gap-10 items-center">
          {/* Domain pricing cards */}
          {domains.map((domain) => (
            <div
              key={domain.extension}
              class="flex flex-col justify-start items-start gap-[8px] border border-gray-200 rounded-lg text-center"
            >
              <h3 class="text-title text-[27px] poppins-semibold ">
                <span class="text-primary md:text-[27px] text-[22px] poppins-semibold ">.</span>
                {domain.extension}
              </h3>
              <p class="text-gray-400 md:text-[15px] line-through text-[10px]">
                {domain.oldPrice}
              </p>
              <p class="text-title sm:text-[17px] text-[13px] poppins-semibold ">
                {domain.newPrice}
              </p>
            </div>
          ))}

          {/* +400 TLDs card */}
          <div class="border border-gray-200 rounded-lg text-center">
            <div class="text-primary poppins-semibold  md:text-[29px] text-[22px] mb-2">
              +400
            </div>
            <div class="text-primary text-[23px] poppins-semibold ">TLDs...</div>
          </div>
        </div>
      </div>
    </section>

    <TextLeftImageRight
      title=".ma Domain name Registration"
      paragraphs={[
        `Trusted by the <b>Moroccan diaspora</b> and international companies, Hostino® is your reliable partner for .MA domain name registration. As an <b>accredited registrar</b> with offices in Tangier, Rabat, and Casablanca, we provide local support and expert guidance to businesses looking to expand their footprint in the Moroccan market.`,
        `Our Moroccan team understands the nuances of the local digital landscape, providing personalized support in Arabic, French, and English to ensure clear communication and efficient support. We prioritize data security and <b>compliance with Moroccan regulations</b>, securing your online assets and building trust with your local audience.`,
        `Secure your .MA domain today! Call (+212) 531 031 186 and let Hostino® take care of the registration process for you.`
      ]}
      imageSrc="/images/08/ma-domain-name.jpg"
      imageAlt=".Ma Domain name in Morocco"
      consultButtonTextExiste={true}
      textButton="Get Started"
      href="/nom-de-domaine-ma/#ma"
      arrowButton={true}
      className="lg:mt-[150px] mb-[50px]"
    />

    <TrustedBySection 
      text="<b>Hostino®</b>, a trusted partner for a vast network of businesses and institutions in Morocco and around the world."
      classNameImage="md:w-[65%] w-[100%]" />

    <SixCards
      features={hostingFeatures}
      title="Get more from your <br/> .MA domain name"
      classNameTitleCard="xl:pr-[120px] lg:pr-[40px]" 
      
    />

    <DomainSearchSectionEn id="ma" placeholder="Search for a domain name" nameButton="Search" />

   <TextLeftImageRight
  title="What is a .ma domain name ?"
  paragraphs={[
    `The .ma domain name is an Internet top-level domain (TLD) that designates the Internet space for the <b>Kingdom of Morocco</b>. Registration and use of ".ma" domain names are governed by specific regulations to safeguard the rights of all parties involved.`,
    `.MA domain serves as a vital identity marker. By selecting and registering your domain name under this extension, you establish your affiliation with the <b>Moroccan Internet community</b>.`,
    `The management of ".ma" domain names involves <b>three key stakeholders</b>: the Registry, which acts as the centralized system for all domain operations and information; Registrars, who serve as ANRT-registered intermediaries facilitating domain name registration between the Registry and applicants; and Registrants, the individuals or organizations who have successfully registered and utilize a ".ma" domain name.`,
  ]}
  imageSrc="/images/08/ma-domain-name-what.jpg"
  imageAlt="What is MA Domain Name Morocco"
  arrowButton={true}
  href="#ma"
/>

    <SixCards
      features={whyChooseNomDomaineHostino}
      title="Why Register Your .ma Domain  <br />name with Hostino®?"
      classNameTitleCard="lg:pr-[180px]"
    />


    <TextLeftVideoRight
      title=`.ma domain name <br class="lg:block hidden" /> Reserved Terms`
      paragraphs={[
        "The reservation of .MA domain names that include reserved words or expressions, such as ‘Morocco’, ‘gov’ (or their translations), names of cities, towns, countries, acronyms of public organizations, specific technical terms, etc., or domain names under the restrictive extensions .AC.MA, .PRESS.MA, and .GOV.MA, is subject to specific conditions regarding the identity and rights of the applicant.",
        `You can consult the non-exhaustive <a href="https://www.registre.ma/wp-content/themes/domaine/pdf/Liste_terme_reserves.pdf" rel="noopener"><span style="text-decoration: underline;">list of reserved terms</span></a> defined by the National Telecommunications Regulatory Agency (ANRT).`
      ]}
      videoUrl="https://www.youtube.com/embed/Fv27QuU2Mu0?si=IRIYzAowVPQP7IAH"
      className="mt-[10px] lg:mb-[150px] mb-[80px]"
      
      textButton ="Get Started",
      href = "#ma",
      
    />

    <TextLeftImageRight
  title="Steps to Register a .ma Domain with Reserved Terms"
  paragraphs={[
    `<span style="color: #022545;">To complete the registration of your domain name containing a reserved term, please submit the following supporting documents by opening a <span style="text-decoration: underline;"><a style="color: #022545; text-decoration: underline;" href="https://my.hostino.com/submitticket.php" rel="noopener"><b>support ticket</b></a></span>:</span>`,
    `<ul class="flex mt-[30px] list-dots-paragraph mb-[40px] flex-col gap-y-4 pl-[30px]">
  <li class="flex items-start gap-3">
    <span class="w-2 h-2 mt-2 bg-primary rounded-full flex-shrink-0"></span>
    <span><strong>Name of the company or organization</strong> for which this domain name will be registered.</span>
  </li>

  <li class="flex items-start gap-3">
    <span class="w-2 h-2 mt-2 bg-primary rounded-full flex-shrink-0"></span>
    <span><strong>Email address, postal address, and phone number</strong> of the company or organization.</span>
  </li>

  <li class="flex items-start gap-3">
    <span class="w-2 h-2 mt-2 bg-primary rounded-full flex-shrink-0"></span>
    <span><strong>Reason for registration:</strong> This information will be used to support your request to the ANRT (National Telecommunications Regulatory Agency).</span>
  </li>

  <li class="flex items-start gap-3">
    <span class="w-2 h-2 mt-2 bg-primary rounded-full flex-shrink-0"></span>
    <span>
      <strong>Completed, signed, and stamped form</strong> available via this 
      <a style="text-decoration: underline; color: #022545;" href="https://www.hostino.ma/Examen_Prealable_nom_de_domaine_maroc.pdf"><u>link</u></a>.
    </span>
  </li>
</ul>
`,
  ]}
  imageSrc="/images/08/ma-domain-with-reserved-terms.jpg"
  imageAlt="Ma Domain Name With Reserved Terms"

/>
    <TextLeftImageRight
      title=".MA Domain Name Dispute Resolution Service"
      paragraphs={[
        `Managing domain names in Morocco is based on a strict regulatory framework, particularly for the .ma and .المغرب extensions. 1 To ensure effective protection of intellectual property rights, the National Telecommunications Regulatory Agency (ANRT), in collaboration with the <b>World Intellectual Property Organization</b> (WIPO), has established an Alternative Dispute Resolution Procedure (ADRP). This procedure addresses conflicts related to the abusive registration of domain names corresponding to protected trademarks, company names, and geographical indications or designations of origin in Morocco.`,
        "In order to strengthen the protection of businesses and rights holders, the ANRT has recently revised the ADRP regulations. This procedure now covers a broader range of disputes, including those related to domain names registered under the Arabic .المغرب extension. This extension thus benefits from the same level of protection as .ma domains, guaranteeing better legal security for businesses and rights holders."
      ]}
      imageSrc="/images/08/ma-domaine-name-wipo.jpg"
      className="lg:mt-[150px] mt-[80px] mb-[0]"
      consultButtonTextExiste={false}
    />

    <section>
      <div class="container">
        <p class="paragraph">
          The new regulations will come into effect on February 15, 2025, and will offer applicants more appropriate remedies to defend their interests. Any person or business facing a domain name dispute in Morocco can consult the details of this procedure and submit a request through the WIPO <b>Arbitration and Mediation Center</b>.
        </p>
        <p class="paragraph">
         or more information, please refer to the full regulations on the official WIPO website: <a href="https://www.wipo.int/amc/fr/domains/cctld/ma/index.html" rel="noopener"><u>Link to the regulations</u></a>.
        </p>
       
      </div>
    </section>

    <DomainPricingSection {...domainPricingDataEn} className="lg:my-[150px] my-[80px]" />

   
    <FAQSection faqData={faqData} title="FAQ - .MA domain name" />
    
  </main>
</Layout>

