---
import Layout from "../../layouts/Layout.astro";

const title = "Modalités de paiement Hostino | Toutes nos options";
const description =
  "Découvrez toutes les modalités de paiement Hostino : virement bancaire, carte bancaire, espèces et chèque. Trouvez l’option qui vous convient pour régler vos services en toute sécurité.";
const canonical_url = "https://www.hostino.ma/paiements";
const imageUrl = "https://www.hostino.ma/images/meta/hostino-mode-paiement.png";
const ogAlt = "Modalités de paiement Hostino";
---

<Layout
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  lang="en"
>
  <section class="lg:py-[110px] bg-gray-200 py-[80px]">
    <div class="container">
      <h1 class="big-title mb-[20px]">Payment Options</h1>
      <p class="paragraph">
        You can purchase our services using a wide range of payment methods.
      </p>
    </div>
  </section>

  <section class="lg:my-[80px] bg-white my-[80px]">
    <div class="container px-[30px]">
      <div class="w-full">
        <h3 class="text-[27px] text-title mb-[20px] poppins-semibold">
          Credit/Debit Card
        </h3>
        <img
          src="/images/cmi-maroc.png"
          alt="cmi maroc"
          loading="eager"
          class="w-[250px] mb-[25px] h-[50px] brightness"
        />

        <p class="paragraph">
          The transactions are secured by CMI.<br />Activation: Most of our
          services are <b>instantly activated</b> after the payment is made.
        </p>

        <h3 class="mb-[30px]">Cash Deposit/Bank Transfers.</h3>

        <p class="paragraph">
          You may pay cash or transfer funds directly into our bank account
          using details stated below:
        </p>
        <p>
          <b>Hostino</b><br />Bank: <b>Banque Populaire</b><br />SWIFT Code: <b
            >BCPOMAMC</b
          ><br />RIB: <b>164 640 21211 52330320002 28</b><br />IBAN: MA64 164
          640 21211 52330320002 28
        </p>

        <p class="text-[27px] mb-[25px] text-title poppins-semibold">Espèces</p>
        <p class="paragraph">
          Nous acceptons le paiement par espèces dans l’un de nos bureaux.
        </p>

        <div class="my-[25px]">
          <p class="paragraph">
            <b>Hostino SARL AU<br /></b>T100 Technopark.<br />Tanger, Maroc
          </p>
        </div>
        <p class="text-[17px] text-title">
          <b>Délai de validation:</b> Votre paiement sera validé à la réception de
          votre paiement.
        </p>
      </div>

      <div>
        <h3 class="text-[27px] text-title poppins-semibold">Chèque</h3>

        <p class="text-[17px] text-title my-[25px]">
          À envoyer par le <strong>Service AMANA</strong> de la Poste du Maroc ou
          à déposer directement à l’un de nos bureaux à l’adresse :
        </p>

        <p class="text-[17px] text-title my-[25px]">
          <strong>Hostino SARL AU</strong><br />
          T100 Technopark.<br />
          Tanger, Maroc
        </p>

        <p class="text-[17px] text-title my-[25px]">
          Prière de noter sur le dos du chèque le <strong
            >numéro de facture</strong
          >
          et votre <strong>adresse email</strong>.
        </p>

        <p class="text-[17px] text-title my-[25px]">
          <strong>Délai de validation du paiement :</strong>
        </p>

        <p>
          Après l’encaissement effectif de votre chèque sur notre compte
          bancaire, soit environ <strong>5 jours ouvrables</strong> (hors jours fériés
          et week-end) après le dépôt du chèque à notre agence bancaire.
        </p>
      </div>
    </div>
  </section>
</Layout>
