---
import Layout from "../../layouts/Layout.astro";
import StartsRatingYellowFooter from "../../components/ui/StartsRatingYellowFooter.astro";
import { main_schema } from "../../mainSchema.ts";

const title = "Politique de confidentialité - Hostino";
const description =
  "La politique de confidentialité de l'hébergement web Hostino a été conçue afin de protéger les informations de nos clients.";
const imageUrl =
  "https://www.hostino.ma/wp-content/uploads/2024/10/hebergement-web.png";
const canonical_url = "https://www.hostino.ma/politique-de-confidentialite";
const ogAlt = "Politique de confidentialité";

const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
    ...main_schema,
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hostino - Noms de domaine et hébergement web au Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: ogAlt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "920",
      },
    },
  ],
};
---

<Layout
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  articleSchema={articleSchema}
  lang="en"
>
  <main>
    <section class="lg:py-[110px] bg-gray-200 py-[80px]">
      <div class="container">
        <h1 class="big-title">Privacy Policy</h1>
      </div>
    </section>

    <section class="lg:my-[120px] my-[80px]">
      <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-8">
          <!-- Sidebar -->
          <div
            class="border-1 side-bar-legal lg:col-span-3 md:col-span-5 col-span-1 rounded-[10px] py-[30px] px-[30px] border-gray-300"
            style={{ maxHeight: "maxContant" }}
          >
            <h3 class="text-[22px] poppins-semibold text-title mb-[20px]">
              Legal Documents
            </h3>
            <div class="w-full h-[1px] bg-gray-400 mb-[20px]"></div>

            <ul class="space-y-3">
              <li style="">
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/terms"
                >
                  Terms and Conditions
                </a>
              </li>
              <li style=" text-decoration-thickness: 2px;">
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/legal-notice">Legal Notice</a
                >
              </li>
              <li style="">
                <a
                  href="/en/cookies-policy"
                  class="text-title text-[17px] poppins-regular"
                  >Cookies Policy</a
                >
              </li>
              <li style="">
                <a
                  class="text-title text-[17px] poppins-regular active"
                  href="/en/privacy"
                >
                  Privacy Policy
                </a>
              </li>
              <li style="">
                <a
                  class="text-title text-[17px] poppins-regular"
                  href="/en/abuse"
                >
                  Anti-abuse Policy
                </a>
              </li>
            </ul>
          </div>

          <!-- Content -->
          <div
            class="lg:col-span-9 md:col-span-7 col-span-1 text-legal-documents"
          >
            <div class="elementor-widget-container">
              <h3>1. Purpose</h3><p>
                1.1. Hostino provides web hosting and/or domain name services.<br
                />1.2. This contract aims to define the technical and financial
                conditions under which Hostino and the client mutually commit.
              </p><h3>2. Server access and management</h3><p>
                2.1. Hostino commits to do everything in its power to ensure the
                permanence, continuity, and quality of the services it offers.<br
                />2.2. Hostino reserves the right to temporarily and briefly
                suspend server accessibility for occasional maintenance or
                service improvements.<br />2.3 Server management for dedicated
                and VPS/Cloud servers:<br />2.3.1 One-time management is billed
                hourly for a specific task. Depending on the task you have
                assigned to us, we will provide an estimated duration of the
                intervention in advance.<br />– Server setup according to your
                needs, updating the operating system, etc.<br />– Installing or
                updating software, email servers, web servers, or business
                applications.<br />– Configuring various Apache modules, etc.<br
                />– Securing your server, installing a firewall, etc.<br />–
                Handling technical incidents.<br />– Implementing backup
                policies.<br />– Setting up accounts for your website
                installations (FTP, MySQL, etc.).<br />2.3.2 Monthly management
                contract:<br />Initial operating system and software
                installation based on your requirements (operating system chosen
                by the partner).<br />Server and hosted service monitoring.<br
                />Server backup implementation.<br />Firewall installation.<br
                />Single point of contact: technical support via ticket and
                phone.<br />Regular operating system and software updates.<br
                />Security patch installation.
              </p><h3>3. Support</h3><p>
                Hostino provides the client with technical support via email,
                phone, and live chat.
              </p><h3>4. Service pricing, invoicing, payments</h3><p>
                4.1. The prices for services offered are listed on the
                hostino.ma website, are exclusive of taxes, payable in Moroccan
                Dirhams, Euros, or USD, and must be paid in advance upon receipt
                of the proforma invoice for an annual, semi-annual, quarterly,
                or monthly period.<br />4.2. Invoices are payable in advance
                upon receipt for the specified period, and payments can be made
                by the client through bank transfer, Moroccan bank card, cash,
                postal check, Wafacash, or any other payment method offered by
                Hostino.<br />4.3. In case of late payment, Hostino will suspend
                service delivery and/or terminate the contract with immediate
                effect and without compensation.<br />4.4. Unpaid accounts and
                servers at the due date are considered abandoned and will be
                terminated.
              </p><h3>5. Responsibilities</h3><p>
                5.1. Under no circumstances can Hostino be held liable for any
                actions or claims by third parties; the client must indemnify
                Hostino from any potential damages arising from:<br
                />Information, images, sounds, texts, or videos that violate
                applicable laws and regulations, contained within the client’s
                website(s).<br />Violation of intellectual property rights
                related to works distributed, in whole or in part, on the
                client’s website(s) without the author’s consent.<br
                />Suspension and/or termination of accounts, particularly due to
                non-payment of amounts due under this contract or, more
                generally, non-compliance with the client’s obligations set
                forth in these terms.<br />5.2. Moreover, given the
                characteristics and limitations of the Internet, which the
                client acknowledges, Hostino cannot be held liable for:<br
                />Difficulty accessing the hosted site due to network congestion
                during certain periods, contamination of the client’s data
                and/or software by viruses, for which the client is responsible
                for protection.<br />Malicious intrusions by third parties into
                the client’s site, despite reasonable security measures in
                place.<br />Potential misappropriation of passwords,
                confidential codes, and any sensitive information for the
                client.<br />5.3. The client must not engage in or participate
                in any of the following activities:<br />Sending unsolicited
                mass emails to recipients who have not requested them (“Junk
                mail” or “Spamming”). Unsolicited mass email sending is strictly
                prohibited.<br />Unauthorized access or attempted access to a
                computer system.<br />Hosting racist, pornographic, or illegal
                websites or those containing hyperlinks to such sites.<br />5.4.
                Hostino reserves the right to terminate the hosting contract at
                any time if it becomes aware of a breach of any of the above
                provisions or in case of improper handling of FTP, HTTP, MAIL,
                or database accounts, causing technical damage to its servers.
                In these cases, Hostino&nbsp;will not issue any refunds.
              </p><h3>6. Security and confidentiality obligations</h3><p>
                Hostino must implement security measures for premises and
                information systems to prevent any risks inherent to the
                processing and nature of the client’s personal data, in order
                to:
              </p><ul class="list-disc">
                <li>
                  to prevent unauthorized persons from accessing computer
                  systems processing personal data;
                </li><li>
                  to prevent storage media from being read, copied, modified, or
                  moved without authorization;
                </li><li>
                  to prevent unauthorized entry of data into memory and any
                  unauthorized disclosure, modification, or deletion of stored
                  personal data;
                </li><li>
                  to prevent unauthorized persons from using data processing
                  systems through data transmission facilities;
                </li><li>
                  to guarantee that authorized users of a data processing system
                  can only access the personal data that their access rights
                  allow them to view;
                </li><li>
                  to keep a record of personal data that has been shared, from
                  the moment it was shared and its recipient;
                </li><li>
                  to ensure that it will be possible to verify a posteriori
                  which personal data have been processed, when and by whom;
                </li><li>
                  to ensure that it will be possible to verify retrospectively
                  which personal data has been processed, when, and by whom;
                </li><li>
                  to ensure that personal data processed on behalf of third
                  parties can only be done in the manner prescribed by the
                  contracting institution or body;
                </li><li>
                  to design its organizational structure to meet the
                  requirements of data protection.
                </li>
              </ul><h3>7. Service restrictions and limitations</h3><p>
                Hostino will do its best to notify clients using scripts that
                consume a high percentage of system resources before suspending
                them. However, if the scripts cause problems for other clients
                or consume a lot of resources, they may be stopped without
                notice.<br />The client is warned that non-compliant use of the
                above may render the site incompatible with the shared hosting
                platform.<br />Hostino is not responsible for any claims or
                damages arising from the client’s loss of data, inability to
                access the Internet, or inability to send or receive
                information.<br />Hostino performs backups, which may be used in
                case of system failure. However, Hostino does not offer data
                recovery services for its clients.<br />Hostino cannot be held
                responsible for data loss, data corruption, access difficulties
                or impossibilities, slow connections, or any other problems
                resulting from the system. Hostino may, at its sole discretion,
                limit or deny access to its servers if it believes these
                limitations or refusals are necessary to maintain the security
                or integrity of the network.
              </p><h3>8. Contract duration, renewal, and termination</h3><p>
                8.1. The contract is concluded for an annual, semi-annual,
                quarterly, or monthly duration, starting from the date of
                signing these terms and conditions.<br />8.2. Subscription
                renewals are not automatic; the client must pay their invoice
                for their service or domain to be renewed.<br />8.3. Any
                termination must be made by email, phone, or registered letter
                addressed to Hostino, no later than one month before the
                anniversary date of the contract.
              </p><h3>9. Information obligation</h3><p>
                The client agrees to update their information (such as change of
                address, phone number, etc.) directly on their customer account
                with Hostino.
              </p><h3>10. Applicable law – Jurisdiction</h3><p>
                This contract is governed by Moroccan law, and any dispute
                relating to the interpretation or execution of this contract
                will fall under the jurisdiction of the Commercial Court or any
                other court chosen by the client in Morocco.
              </p><h3 class="wp-block-heading">
                Specific conditions related to the reservation of .ma domain
                names:
              </h3><p>
                Indeed, the renewal of “.ma” domain names is possible for a
                chosen annual period (from 1 to 5 years). (See article 26 of the
                naming decision).
                https://www.anrt.ma/sites/default/files/2015-12-14-gestion-nom-domaine-ma-fr_0.pdf
              </p><p>
                <strong>Obligations and Rights of the Applicant/Holder</strong>
              </p><p>
                1. The Applicant or Holder acknowledges that they have read the
                provisions of the naming decision, that they accept to be bound
                by all its terms, in its version adopted and amended by ANRT.
                Said decision is available on the ANRT website:
                https://www.anrt.ma/sites/default/files/2015-12-14-gestion-nom-domaine-ma-fr_0.pdf
              </p><p>
                2.&nbsp;The Holder enjoys exclusive and personal use of the
                registered domain name during its validity period, in accordance
                with the applicable regulatory provisions.
              </p><p>
                3.&nbsp;At the time of registration or renewal of a domain name,
                any Applicant or Holder is deemed to have accepted the
                collection, storage, and processing of their data by ANRT, as
                well as the publication of “WHOIS” data.
              </p><p>
                4.&nbsp;The Holder is deemed to have accepted that some of their
                data may be transmitted by ANRT to competent authorities, or to
                a third party in accordance with the applicable legislation.
              </p><p>
                5. The choice, use, and operation of a domain name, as well as
                its associated subdomains, are the responsibility of the Holder.
                The Holder uses the registered domain name and its associated
                subdomains for their own needs, without infringing on the rights
                and interests of third parties.
              </p><p>
                6.&nbsp;The Holder is represented by a natural person, called
                the administrative contact, duly mandated for this purpose and
                established in Morocco. If the Holder is a natural person, they
                may also be the administrative contact.
              </p><p>
                7.&nbsp;The Holder acknowledges and agrees that the
                administrative contact is authorized by them to act as the
                Holder’s representative in the context of the registration and
                management of the domain name. In case of a dispute between the
                Holder and their administrative contact during domain name
                management, the Holder’s position shall prevail.
              </p><p>
                8. The Holder must provide the Provider with valid postal and
                email addresses for themselves, as well as valid postal and
                email addresses for their administrative contact.
              </p><p>
                9. The Holder must ensure that all information relating to the
                registration of a domain name, communicated to their Provider,
                is up-to-date, complete, and accurate. They are required to
                update it immediately in case of any changes. The Holder is
                obliged to verify that the data published on the “WHOIS” are
                complete and accurate and to promptly make necessary updates
                with the Provider.
              </p><p>
                10. The Holder can renew their domain name at any time in
                accordance with the naming decision. Upon the expiration of the
                domain name, the Holder must renew their domain name during the
                renewal grace period if they wish to maintain it.
              </p><p>
                11. Upon the expiration of a domain name, the Provider may
                terminate it if the Holder does not pay the associated renewal
                fees. At the end of the renewal grace period, the domain name is
                deleted by ANRT.
              </p><p>
                12. The Holder may terminate their domain name before its
                expiration date. The domain name has a termination grace period
                during which the Holder may re-register it.
              </p><p>
                13. The Holder has the right to request a change of Provider at
                any time, subject to compliance with the provisions of the
                naming decision and this agreement.
              </p><p>
                14.&nbsp;The Holder has the right to transfer their domain name
                to another person, provided that the terms of the naming
                decision and this agreement are respected.
              </p><p>
                15. The Holder undertakes to submit to the alternative dispute
                resolution procedure and any decision of ANRT concerning the
                registered “.ma” domain name.
                http://www.wipo.int/amc/fr/domains/rules/cctld/ma/index.html
              </p><p>
                <strong>Obligations and rights of the Provider</strong>
              </p><p>
                1. The Provider is required to inform the Holder of the
                expiration of their domain name thirty (30) days before its due
                date, and to allow them to renew their domain name at any time,
                before or during the renewal grace period.
              </p><p>
                2.&nbsp;The Provider must make changes related to domain names
                and Holders on the Registry whenever such changes are
                communicated to&nbsp;them by the Holder.
              </p><p>
                3.&nbsp;Upon termination of the domain name, the Provider is
                required to inform the Holder, specifying the termination grace
                period during which they can recover the terminated domain name
                at any time.
              </p><p>
                4.&nbsp;The Provider is required to provide Holders with a
                website containing their complete and up-to-date contact
                information. They must also publish on this site any changes
                made by ANRT to regulatory provisions and domain name
                registration and management procedures.
              </p><p>
                5.&nbsp;The Provider is required to inform the Holder of any
                information or notification concerning them as soon as it is
                received from ANRT.
              </p><p>
                6.&nbsp;The Provider must promptly inform the affected Holder of
                any freezing, blocking, or deletion of a domain name by ANRT,
                providing the reason as communicated by the latter.
              </p><p>
                7.&nbsp;At any time, and at the Holder’s request, the Provider
                is required to provide them with the authorization code(s) for
                one or more domain names free of charge, within one (1) working
                day of receiving the request.
              </p><p>
                8.&nbsp;The Provider is required to assist Holders in
                registering, renewing, terminating, and transferring domain
                names, as well as updating the related information. They must
                provide all necessary support to Applicants and Holders of
                domain names to correctly provide the required information.
              </p><p>
                9.&nbsp;The Provider must not collect, use, or disclose any
                personal or other data related to a Holder for purposes other
                than those provided for by the registration and management of
                the Holder’s domain names and in accordance with the applicable
                regulatory provisions. The use of this data must comply with
                regulations on the protection of natural persons with regard to
                the processing of personal data.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
