---
import Layout from "../../layouts/Layout.astro";
import StartsRatingYellowFooter from "../../components/ui/StartsRatingYellowFooter.astro";
import { main_schema } from "../../mainSchema.ts";

const title = "Conditions générales - Hostino";
const description =
  "Conditions Générales Hostino: accord avec Hostino qui est lié par les conditions de service décrites dans le présent document.";
const imageUrl =
  "https://www.hostino.ma/wp-content/uploads/2024/10/hebergement-web.png";
const canonical_url = "https://www.hostino.ma/conditions-generales";
const ogAlt = "Conditions générales";

const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
    ...main_schema,
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hostino - Noms de domaine et hébergement web au Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: ogAlt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "920",
      },
    },
  ],
};
---

<Layout
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  articleSchema={articleSchema}
  lang="en"
>
  <main>
    <section class="lg:py-[110px] bg-gray-200 py-[80px]">
      <div class="container">
        <h1 class="big-title">Terms and Conditions</h1>
      </div>
    </section>

    <section class="lg:my-[120px] my-[80px]">
      <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 gap-8">
          <!-- Sidebar -->
          <div
            class="border-1 side-bar-legal max-h-max lg:col-span-3 md:col-span-5 col-span-1 rounded-[10px] py-[30px] px-[30px] border-gray-300"
          >
            <h3 class="text-[22px] poppins-semibold text-title mb-[20px]">
              Legal Documents
            </h3>
            <div class="w-full h-[1px] bg-gray-400 mb-[20px]"></div>

            <ul class="space-y-3">
              <li style="">
                <a class="active" href="/en/terms">
                  Terms and Conditions
                </a>
              </li>
              <li>
                <a href="/en/legal-notice">Legal Notice</a>
              </li>
              <li style="">
                <a href="/en/cookies-policy">Cookies Policy</a>
              </li>
              <li style="">
                <a href="/en/privacy"> Privacy Policy </a>
              </li>
              <li style="">
                <a href="/en/abuse">Anti-Abuse Policy</a>
              </li>
            </ul>
          </div>

          <!-- Content -->
          <div
            class="lg:col-span-9 md:col-span-7 col-span-1 text-legal-documents"
          >
            <div>
              <p>
                By purchasing hosting, a domain name, or any other service or
                product from Hostino, you (the customer) enter into an agreement
                with Hostino that is bound by the terms of service described in
                this document. This agreement shall be interpreted in all
                respects in accordance with the laws of the Kingdom of Morocco,
                applicable to enforceable contracts in that country. By
                completing the ordering process, you agree to have read,
                understood, and be bound by these terms of service.
              </p>
              <h3>1. Definitions</h3>
              <p>
                <b>1.1 Hosting Service</b> – Any shared, reseller, virtual, or dedicated
                space used to store and distribute content on the web.
              </p>
              <p>
                <b>1.2 Additional Services</b> – Any product or service considered
                an "addon" to a primary hosting service, or which covers the one-time
                fees for additional work performed by a Hostino staff member.
              </p>
              <p>
                <b>1.3 Resource Usage</b> – All resources allocated to the customer
                to enable the storage and delivery of web content within a hosting
                service. This includes, but is not limited to, disk space, memory,
                processes, and bandwidth.
              </p>
              <p>
                <b>1.4 Subscription</b> – The duration (monthly, quarterly, biannual,
                annual) applicable to the purchased service.
              </p>
              <p>
                <b>1.5 Client Area</b> – A client account management interface for
                managing the billing of hosting, domain names, or additional services
                purchased, including invoices, contact details, and domain registrations.
              </p>
              <p>
                <b>1.6 AUP</b> – Acceptable Use Policy, which defines the usage limits
                for each service.
              </p>
              <div>
                <h3>2. Identity</h3>
                <ul class="list-disc identity text-[17px]">
                  <li>
                    Company:&nbsp;<b>Hostino SARL AU</b>
                  </li>
                  <li>
                    Office address: <b>T100 Technopark Tangier, Morocco.</b>
                  </li>
                  <li>
                    General Manager: <b>Aniss KIASSI</b>
                  </li>
                  <li>
                    RC:&nbsp;<b>123893 Tangier</b>
                  </li>
                  <li>
                    Patent: <b>50412781</b>
                  </li>
                  <li>
                    IF:&nbsp;<b>51707097</b>
                  </li>
                  <li>
                    RIB:&nbsp;<b>164 640 21211 52330320002 28</b>
                  </li>
                  <li>
                    ICE:&nbsp;<b>002984236000036</b>
                  </li>
                  <li>
                    E-mail:&nbsp;<b>info@hostino.ma</b>
                  </li>
                  <li>
                    Website: <b>hostino.ma</b>
                  </li>
                </ul>
              </div>
              <div>
                <div>
                  <h3>3. Fees</h3>
                  <ul>
                    <p>
                      <b>3.1 Payment</b> – Activation of any domain name, hosting,
                      or additional service is dependent upon Hostino receiving payment
                      of the fees indicated on the website or any other documentation
                      or custom quote provided to the customer. Subsequent payments
                      are due on the anniversary date of the subscription period
                      in advance for the service of the following subscription period.
                      All service fees are indicated in the product description or
                      will be communicated to the customer before payment is required
                      for any custom quote or service ordered by phone.
                    </p>
                    <p>
                      <b>3.2 Setup Fees</b> – The customer agrees to pay in advance
                      and in full any non-recurring amount necessary for the initial
                      deployment of the purchased hosting service. These fees are
                      indicated as setup fees in the service description or will
                      be disclosed in any custom quote prior to any server provisioning,
                      equipment acquisition, or installation by Hostino.
                    </p>
                    <p>
                      <b>3.3 Recurring Fees</b> – All subscriptions for domain name
                      and hosting services provided by Hostino are recurring in nature,
                      and the customer agrees to pay all recurring fees listed in
                      the service description in advance on each anniversary date
                      to confirm the renewal of their service.
                    </p>
                    <p>
                      <b>3.4 Non-Refundable Fees</b> – Certain fees paid to Hostino
                      are considered non-refundable due to the nature of the product
                      or service purchased, and this includes, but is not limited
                      to, the following:
                    </p>
                    <p>
                      <b>3.4.1 Third-party products</b> – Products provided by Hostino
                      where Hostino acts as a reseller for another provider (e.g.
                      domain registrations, SSL certificates, Google and Microsoft
                      email licenses, third-party product licenses) are provided
                      as non-refundable products and refunds cannot be made once
                      the product has been activated on an account.
                    </p>
                    <p>
                      <b>3.4.2 Advanced Administration Time</b> – Services for which
                      additional work must be performed by Hostino staff are non-refundable
                      once the additional work has been completed.
                    </p>
                    <p>
                      <b>3.5 Invoices and Statements</b> – Invoices are provided
                      to the customer via email using the contact email address assigned
                      to the customer or any additional billing contact in Hostino's
                      billing system. If the customer wishes to receive an original
                      copy of their invoice, they must request it from customer support,
                      indicating the postal address to which they wish to receive
                      the invoice.
                    </p>
                    <p>
                      <b>3.6 Statements</b> – Hostino does not provide written or
                      printed statements. However, an account's billing history is
                      always available for the customer to view in their dedicated
                      area.
                    </p>
                    <p>
                      <b>3.7 Default of payment</b> – Hostino may temporarily deny
                      service or terminate this agreement in the event of a customer's
                      default in paying the applicable subscription fees for recurring
                      charges when the fees are 30 days overdue. This termination
                      or denial does not release the customer from the responsibility
                      of paying all accrued charges for renewed services, plus reasonable
                      interest and collection fees. Accounts that are not recoverable
                      by Hostino may be turned over to an external collection agency,
                      which may result in additional fees or penalties.
                    </p>
                  </ul>
                </div>

                <div>
                  <h3>4. Refunds, disputes, and cancellations</h3>
                  <ul>
                    <li>
                      <b>4.1 Money back guarantee</b> – Hostino offers a 30-day money-back
                      guarantee for shared hosting or reseller services.
                    </li>
                    <li>
                      <b>4.2 Refunds</b> – All payments made to Hostino are non-refundable,
                      unless the refund period is applicable and the refund request
                      is made within 30 days of the service activation date. One-time
                      setup fees and additional charges are not refundable, except
                      when ordered hosting or additional services cannot be provided
                      by Hostino. When an ordered service cannot be provided but
                      an alternative service is provided instead, all applicable
                      one-time setup fees remain due. Refunds are not provided automatically
                      and must be requested by the customer within 30 days of the
                      cancellation request.
                    </li>
                    <li>
                      Refunds for payments made through PayPal or international
                      credit cards are made to the issuing PayPal account or the
                      bank account linked to the international card used for
                      payment.
                    </li>
                    <li>
                      For all other payment methods (Moroccan bank card,
                      Tasshilat, cash, bank transfer, and bank deposit), the
                      refund is made to the customer's balance and is viewable
                      in their client area. The balance can be used to pay for
                      new orders.
                    </li>
                    <li>
                      <b>4.3 Disputes</b> – All disputes relating to overcharges
                      or billing must be reported within 60 days of the time the
                      dispute occurred. If you dispute a charge to your credit card
                      issuer that, in Hostino's sole discretion, is a valid charge
                      under the provisions of these terms of service, you agree to
                      pay Hostino an "administrative fee" of a minimum of 500 MAD
                      and a maximum of 1500 MAD.
                    </li>
                    <li>
                      <b>4.4 Cancellation of the service by the customer</b> – Hostino
                      provides a recurring and continuous service that will remain
                      active until its expiration date. A proforma renewal invoice
                      is generated in the customer's account fifteen days before
                      the due date. If the customer does not make the payment, the
                      service is automatically suspended. The customer may request
                      cancellation at any time through their client area, choosing
                      between immediate cancellation of the service or cancellation
                      at the end of the subscription. If a cancellation request is
                      submitted, no renewal invoice is generated.
                    </li>
                    <li>
                      <b>4.4.1 No Cancellation Fee</b> – Hostino does not charge
                      cancellation fees and does not refund prepaid fees unless the
                      money-back guarantee is applicable.
                    </li>
                    <li>
                      <b>4.4.2 No Access to Account</b> – If the customer wishes
                      to cancel a service and cannot access their client area for
                      any reason, the customer must contact Hostino by phone or support
                      ticket to obtain the necessary login information or instructions
                      for submitting a cancellation request.
                    </li>
                    <li>
                      <b>4.4.3 Customer Data</b> – In the event of a successful cancellation
                      of a hosting service, all data stored in the canceled service
                      will be deleted. Hostino provides no guarantee that customer
                      data will be recoverable once the cancellation process is complete.
                    </li>
                    <li>
                      <b>4.5 Service cancellation by Hostino</b> – Hostino may cancel
                      the customer's hosting service for any breach of these terms
                      of service or terms of use without prior notice. Hostino provides
                      no guarantee that the customer's data will be recoverable once
                      the cancellation process is complete.
                    </li>
                  </ul>
                </div>

                <div>
                  <h3>5. Account ownership</h3>
                  <ul>
                    <li>
                      <b>5.1 Account Owner</b> – The primary email and contact information
                      of the account holder in the client area is considered the
                      legal owner of the account. Individual hosting or additional
                      services associated with an account are controlled by the account
                      owner, and modifications and updates to an account's information
                      can only be made by the account owner or their authorized additional
                      contact. The account owner is established at the time the account
                      is created. The contact details of an account owner must be
                      those of a real person. It is not permitted to use fictitious
                      or "fake" names for the contact details of an account owner.
                      Accounts containing fictitious or "fake" names and contact
                      details that do not reflect the contact details of a real person
                      may be suspended or terminated without notice.
                    </li>
                    <li>
                      The legal holder of a domain name registered with Hostino
                      is the default account owner or the contact indicated by
                      the account owner during domain name registration.
                    </li>
                    <li>
                      <b>5.2 Account Information</b> – The customer warrants that
                      all information provided to Hostino is truthful, correct, accurate,
                      and up-to-date and that the person designated as the account
                      owner is 18 years of age or older and is legally empowered
                      to act and enter into this contract as a customer or on behalf
                      of the customer.
                    </li>
                    <li>
                      <b>5.2.1 Maintaining of Account Information</b> – The customer
                      is responsible for maintaining the contact information provided
                      on their account, and failure to maintain up-to-date contact
                      information does not guarantee exoneration from fees, late
                      fees, or warnings issued by Hostino.
                    </li>
                    <li>
                      <b>5.3 Authorized Additional Contact</b> – The account owner
                      may add and authorize one or more additional contact persons
                      to act on their behalf.
                    </li>
                    <li>
                      For any additional contact added to an account to request
                      account modifications, the authorized additional contact
                      must be set up as a sub-account with their own login
                      information and have appropriate permissions. If the
                      authorized additional contact is not enabled as a
                      sub-account, the contact will only have limited
                      permissions to support a service and will not be able to
                      request changes to the hosting or domain name
                      configuration.
                    </li>
                    <li>
                      <b>5.4 Account transfer</b> – The account owner role can be
                      transferred to another authorized additional contact or an
                      Hostino customer by contacting our support team.
                    </li>
                    <li>
                      <b>5.5 Account Closure</b> – An account will automatically
                      be marked as inactive when no active hosting or domain name
                      or additional service is being operated under the account.
                      The customer retains access to this account and can use it
                      at any time to review their order or service history, or to
                      order a new service.
                    </li>
                  </ul>
                </div>

                <div>
                  <h3>6. Domain registration, transfer and renewal</h3>
                  <p>
                    <b>6.1 Domain registrations</b> – Successful domain name registrations
                    that have completed the registration process and are considered
                    active by the domain registration office are final and cannot
                    be canceled or refunded. Some domain extensions may require additional
                    information to complete registration, and Hostino provides no
                    guarantee that a requested domain registration will be confirmed
                    by the registration office. It is the customer's sole responsibility
                    to check which information is required to register a particular
                    domain before placing a domain registration order.
                  </p>
                  <p>
                    In cases where additional information is required by the
                    registration office to validate the registration of a domain
                    name, Hostino will contact the customer to request it. If
                    the customer does not respond within the deadlines or if the
                    registration office refuses to validate the domain, the fees
                    are refunded according to the refund policy described above.
                  </p>
                  <p>
                    <b>6.2 Domain transfers</b> – Domain transfers generally take
                    5 to 7 days once the final authorization has been received by
                    the domain registration office. Hostino does not have the power
                    to expedite a domain transfer and cannot provide any guarantees
                    regarding the time required to perform a transfer. The customer
                    must ensure that all contact information is up-to-date with the
                    current domain registrar and that the appropriate transfer codes
                    have been obtained before placing a domain transfer order with
                    Hostino.
                  </p>
                  <p>
                    <b>6.3 Domain renewal</b> – Domains must be renewed before their
                    expiration date to avoid suspension. Multiple notifications are
                    sent to the customer to inform them of upcoming domain renewals
                    starting from 60 days before the indicated expiration date. Hostino
                    has no control over maintaining an active domain name once it
                    has reached its expiration date and is not responsible for the
                    inaccessibility of a website because the customer has not renewed
                    their domain name.
                  </p>
                  <p>
                    <b
                      >6.4 Specific conditions related to the reservation of .ma
                      domain names</b
                    >
                  </p>
                  <p>
                    <b>6.4.1 Obligations and rights of the applicant/holder</b>
                  </p>
                  <p>
                    The Applicant or Holder acknowledges that they have read the
                    provisions of the naming decision, that they accept to be
                    bound by all of its terms, in the version adopted and
                    amended by ANRT:
                    https://www.anrt.ma/sites/default/files/2015-12-14-gestion-nom-domaine-ma-fr_0.pdf
                  </p>
                  <p>
                    The Holder has exclusive and personal use of the registered
                    domain name during its validity period, in accordance with
                    the applicable regulatory provisions.
                  </p>
                  <p>
                    At the time of registration or renewal of a domain name, any
                    Applicant or Holder is deemed to have accepted the
                    collection, storage, and processing of their data by the
                    ANRT, as well as the publication of "WHOIS" data. The data
                    mentioned during registration will be visible on the
                    official ANRT website and public WHOIS databases. The Holder
                    cannot hide this information.
                  </p>
                  <p>
                    The Holder is deemed to have accepted that certain data
                    concerning them may be transmitted by the ANRT to the
                    competent authorities or to a third party in accordance with
                    the applicable legislation.
                  </p>
                  <p>
                    The choice, use, and operation of a domain name, as well as
                    the related subdomains, are the responsibility of the
                    Holder. The latter uses the registered domain name and
                    related subdomains for their own needs, without infringing
                    on the rights and interests of third parties.
                  </p>
                  <p>
                    The Holder is represented by a natural person, called the
                    administrative contact, duly mandated for this purpose and
                    established in Morocco. If the Holder is a natural person,
                    they may be the administrative contact themselves.
                  </p>
                  <p>
                    The Holder acknowledges and agrees that the administrative
                    contact is authorized by them to act as the Holder's agent
                    in the context of domain name registration and management.
                    In the event of a difference between the Holder and their
                    administrative contact during a domain name management
                    operation, the Holder's position shall prevail.
                  </p>
                  <p>
                    The Holder must provide the Provider with effective postal
                    and electronic addresses concerning them, as well as
                    effective postal and electronic addresses for their
                    administrative contact.
                  </p>
                  <p>
                    The Holder must ensure that all information relating to the
                    registration of a domain name, communicated to their
                    Provider, is up-to-date, complete and accurate. They are
                    required to immediately update this information in case of
                    any changes affecting it. The Holder is responsible for
                    verifying that the data published on the "WHOIS" is complete
                    and accurate, and for promptly making any necessary updates
                    with the Provider.
                  </p>
                  <p>
                    The Holder may renew their domain name at any time in
                    accordance with the naming decision. Upon expiration of the
                    domain name, the Holder is required to renew their domain
                    name during the renewal grace period if they wish to
                    maintain it.
                  </p>
                  <p>
                    Upon the expiration of a domain name, the Provider may
                    terminate it if the Holder does not proceed with the payment
                    of the associated renewal fees. At the end of the renewal
                    grace period, the domain name is deleted by the ANRT.
                  </p>
                  <p>
                    The Holder may terminate their domain name before its
                    expiration date. The domain name has a termination grace
                    period during which the Holder may proceed with its
                    re-registration.
                  </p>
                  <p>
                    The Holder has the right to request a change of Provider at
                    any time, subject to compliance with the provisions of the
                    naming decision and this contract.
                  </p>
                  <p>
                    The Holder has the right to transfer their domain name to
                    another person, subject to compliance with the terms of the
                    naming decision and this contract.
                  </p>
                  <p>
                    The Holder undertakes to submit to the alternative dispute
                    resolution procedure and to any decision of the ANRT
                    concerning the registered ".ma" domain name.
                    http://www.wipo.int/amc/en/domains/rules/cctld/ma/index.html
                  </p>
                  <p><b>6.4.2 Obligations and rights of Hostino</b></p>
                  <p>
                    Hostino is required to inform the Holder of the expiration
                    of their domain name thirty (30) days before its due date
                    and allow them to renew their domain name before or during
                    the 29 days of the grace period, which is 30 days for .MA
                    domain names.
                  </p>
                  <p>
                    Hostino must make changes related to domain names and
                    Holders in the Registry whenever such changes are
                    communicated to them by the Holder.
                  </p>
                  <p>
                    Upon termination of the domain name, Hostino is required to
                    inform the Holder, specifying the termination grace period
                    during which they can recover the terminated domain name at
                    any time.
                  </p>
                  <p>
                    Hostino is required to provide Holders with a website that
                    necessarily includes their complete and up-to-date contact
                    information. It must also publish on this site any changes
                    made by ANRT to regulatory provisions and domain name
                    registration and management procedures.
                  </p>
                  <p>
                    Hostino is required to make the Holder aware of any
                    information or notification concerning them as soon as it is
                    received from ANRT.
                  </p>
                  <p>
                    Hostino must promptly inform the concerned Holder of any
                    freeze, block, or deletion of a domain name by ANRT,
                    communicating the reason as provided by the latter.
                  </p>
                  <p>
                    At any time, and at the request of the Holder, Hostino is
                    required to provide them free of charge with the
                    authorization code(s), also called transfer authorization
                    codes (EPP) for one or more domain names, within two (2)
                    working days of receiving said request.
                  </p>
                  <p>
                    Hostino is required to assist Holders in registering,
                    renewing, terminating, and transferring domain names, as
                    well as updating the related information. It is required to
                    provide all necessary support to Applicants and Holders of
                    domain names to correctly complete the required information.
                  </p>
                  <p>
                    Hostino must not collect, use, or disclose any data,
                    personal or otherwise, relating to a Holder, for purposes
                    other than those provided for by the registration and
                    management of the Holder's domain names, and in accordance
                    with the applicable regulatory provisions. The use of this
                    data must comply with the regulations on the protection of
                    individuals with regard to the processing of personal data.
                  </p>
                </div>

                <div>
                  <h3>7. General conditions and limits of support</h3>
                  <p>
                    <b>7.1 Support Limits</b> – Hostino provides technical support
                    to its direct customers only and does so in accordance with the
                    support limits it has defined. Hostino's support is designed
                    to help customers use and connect to the hosting service and
                    does not extend to diagnosing or resolving issues related to
                    the coding of a website or web application hosted in the customer's
                    hosting service. Technical support is provided through the support
                    means displayed on the website, namely: by phone during working
                    hours or by support ticket 24/7. Hostino cannot provide remote
                    assistance services, and the support team cannot remotely connect
                    to the customer's workstation under any circumstances.
                  </p>
                  <p>
                    <b>7.1.1 Support for customer's clients</b> – Hostino does not
                    provide direct technical support to the customer's clients. Resellers,
                    affiliates, server clients, and customers who have multiple individual
                    hosting accounts under a single client account should not advise
                    their clients to contact Hostino directly and should instead
                    contact Hostino on behalf of their client. Hostino is happy to
                    assist with any support questions that fall within the scope
                    of our support limits when requested by the direct customer.
                  </p>
                  <p>
                    <b>7.2 Advanced support</b> – When Hostino can and agrees to
                    provide advanced support to the customer, additional service
                    fees may be required for this intervention. Advanced support
                    fees are payable in advance based on the time estimated by Hostino
                    for the additional task to be performed. Hostino does not guarantee
                    that a problem or task will be resolved within the estimated
                    time, and if additional time is needed, the extra advanced support
                    time will need to be paid before any additional work is performed.
                  </p>
                  <p>
                    <b>7.3 Responsibility for content and account activity</b> –
                    The customer is solely responsible for the content stored and
                    served by the purchased hosting service and the activity of any
                    script or email service created as part of the hosting service.
                    The customer must maintain the security of all account and application
                    or script passwords and ensure that all scripts within the hosting
                    service are free of malicious content that could harm any part
                    of Hostino's infrastructure, other customer accounts hosted by
                    Hostino, or the external systems of visitors viewing the hosted
                    content.
                  </p>
                  <p>
                    <b>7.3.1 Acceptable Use</b> – The customer must ensure at all
                    times that they comply with Hostino's Acceptable Use Policy and
                    must not host content or allow any account activity that violates
                    the AUP. Violations of the AUP are governed by the following
                    conditions:
                  </p>
                  <p>
                    <b>7.3.1.1 First Violation</b> – When Hostino determines that
                    a hosting service has violated any element of the AUP, the customer
                    will receive an email warning informing them of the violation.
                    The hosting service may, at Hostino's discretion, be subject
                    to a temporary suspension pending the customer's written agreement
                    to refrain from any further violations.
                  </p>
                  <p>
                    <b>7.3.1.2 Second Violation</b> – When Hostino determines that
                    a hosting service has committed a second violation of any element
                    of the AUP, the hosting service will be subject to immediate
                    suspension or termination without any further notice.
                  </p>
                  <p>
                    <b>7.3.1.3 Service Suspension or Cancellation</b> – Hostino reserves
                    the right to suspend the customer's access to the hosting service
                    if, in Hostino's judgment, the customer's service is the source
                    or target of a violation of any of the conditions of the AUP
                    or these terms of service. If inappropriate activity is detected,
                    all accounts of the customer in question will be disabled until
                    the end of the investigation. Prior notification to the customer
                    is not guaranteed, and in extreme cases, law enforcement will
                    be contacted regarding the activity. The customer will not be
                    credited for the duration of the hosting service suspension.
                  </p>
                  <p>
                    <b>7.3.2 Web applications</b> – The customer must ensure that
                    all web applications used on the hosting service are secure,
                    patched, and updated. Open-source applications are vulnerable
                    to attacks via exploits in the software, and the software developers
                    generally provide updates when vulnerabilities have been detected.
                    It is the customer's responsibility to install all updates/patches
                    to maintain application security. If the customer lacks the necessary
                    skills to perform the updates, they will need to engage the services
                    of a web developer capable of assisting them.
                  </p>
                  <p>
                    <b>7.3.3 Maintaining compatibility</b> – The nature of shared
                    hosting environments and server applications such as Apache,
                    PHP, and MySQL is that they are constantly updated to maintain
                    stability, performance, and security. Keeping web applications
                    patched and updated ensures both the security of the website
                    and data and is also essential for maintaining compatibility
                    with changes to server applications. Hostino regularly updates
                    all server applications, and it is the customer's responsibility
                    to maintain the installed web applications to ensure compatibility
                    with the latest stable and supported versions of all server applications.
                  </p>
                  <p>
                    <b>7.4 Resource usage</b> – All hosting services purchased have
                    a variety of resource limitations applied in accordance with
                    the applicable plan associated with the service. It is the customer's
                    responsibility to ensure that their hosting service does not
                    exceed the allocated resources and to upgrade their service if
                    it is determined that more resources are needed to ensure the
                    proper functioning of a hosting service.
                  </p>
                  <p>
                    <b
                      >7.4.1 Resource abuse (excluding dedicated server
                      customers)</b
                    > – Hostino implements resource restrictions per account on all
                    shared hosting, reseller, and VPS services that vary from plan
                    to plan. In addition to these restrictions, customers must not:
                  </p>
                  <ul class="list-disc mb-[20px]">
                    <li>
                      Using 50% or more of allocated CPU resources for more than
                      60 seconds.
                    </li>
                    <li>
                      Running unattended, server-side processes at any time on
                      the server. This includes any daemons, such as IRCD.
                    </li>
                    <li>
                      Operating an account on any shared or reseller server for
                      the purpose of storing files whose content is not related
                      to the operation and delivery of their web applications or
                      that could violate Hostino’s AUP.
                    </li>
                    <li>
                      Running any type of indexing software on any shared or
                      reseller server.
                    </li>
                    <li>
                      Running any software that interfaces with an IRC (Internet
                      Relay Chat) network.
                    </li>
                    <li>
                      Running any type of binary torrent application or tracker
                      or participating in any illegal file-sharing activity.
                    </li>
                    <li>
                      Running cron jobs on a shared or reseller server with
                      intervals of less than 5 minutes.
                    </li>
                    <li>
                      Running excessively large MySQL databases on shared
                      servers or reseller accounts. Databases with an excessive
                      number of MySQL tables (over 1000) or larger than 1GB in
                      size can negatively affect server performance and are
                      strictly prohibited.
                    </li>
                    <li>
                      Running any MySQL query longer than 15 seconds on shared
                      or reseller servers. MySQL tables must&nbsp;be properly
                      indexed and regularly updated to ensure that individual
                      tables do not contain an excessive number of rows.
                    </li>
                    <li>
                      Storing multiple backups of a hosting account on a shared
                      hosting server. Backup archives created by a server’s
                      backup tools are designed to be downloaded off the server
                      to maintain off-site backups. Making backups that contain
                      other backup archives can result in a heavy load on
                      storage arrays and is strictly prohibited. Any hosting
                      service that has multiple backups on the server may be
                      suspended by Hostino until the backups are removed.
                    </li>
                    <li>
                      Storing files larger than 100MB that are not used for the
                      website’s needs. Hosting space must not be used as a
                      storage or archiving system for files. All content must be
                      used on the website.
                    </li>
                    <li>
                      Generating backups on shared or reseller hosting for
                      accounts consuming more than 15GB of disk space. You must
                      first contact technical support, and then a backup will be
                      generated for you.
                    </li>
                    <li>
                      Retaining emails in the trash for more than 30 days.
                      Emails that have been kept in the trash for more than 30
                      days will be automatically deleted.
                    </li>
                    <li>
                      Using excessive VPS resources due to poor configuration.
                      When a client has a self-managed or managed VPS, we may
                      make minor configuration changes without notice if that
                      server’s configuration negatively affects other VPS
                      servers on the same host.
                    </li>
                    <li>
                      Storing files in the cPanel trash. When files are deleted
                      via the cPanel file manager, they are temporarily stored
                      in the Trash folder. This folder containing deleted files
                      will be automatically cleared every 30 days.
                    </li>
                  </ul>
                  <p>
                    <b>7.4.2 Inodes</b> – Each file and directory hosted on Hostino
                    servers uses 1 inode, and accounts considered to be using an
                    excessive number of inodes on shared or reseller servers will
                    need to upgrade their hosting service or remove files. For shared
                    and reseller hosting services, an inode count of 250,000 or more
                    is considered excessive and a cause of performance issues in
                    the environment. We recommend maintaining an inode count below
                    100,000 per account for optimal performance. For VPS hosting,
                    an inode count of 4,000,000 or more is considered excessive.
                  </p>
                  <p>
                    <b>7.4.3 Bandwidth and Data Transfer Monitoring</b> – Bandwidth
                    and data transfer are monitored in various ways across our range
                    of services. Details are provided below:
                  </p>
                  <p>
                    Shared hosting and reseller plans that include "unlimited"
                    bandwidth are monitored only for high usage. This is done to
                    ensure that services using large amounts of bandwidth do so
                    in accordance with our terms of service.
                  </p>
                  <p>
                    All bandwidth is monitored on a calendar month cycle and may
                    not match the exact billing cycle of the service.
                  </p>
                  <p>
                    Alerts to customers are sent to the contact email address
                    registered in the file before any fixed bandwidth quota is
                    reached. It is the customer's responsibility to contact
                    Hostino to apply an appropriate upgrade or addon for the
                    concerned service to cover any additional usage beyond the
                    fixed plan quota.
                  </p>
                  <p>
                    For reseller hosting plans with fixed bandwidth quotas,
                    exceeding the assigned quota will result in the suspension
                    of the reseller service and all sub-accounts until the plan
                    is upgraded with additional bandwidth. To purchase
                    additional bandwidth, the service must be upgraded to the
                    next plan that provides sufficient bandwidth to meet the
                    reseller's needs.
                  </p>
                  <p>
                    For VPS plans with fixed bandwidth quotas, exceeding the
                    allocated quota will result in the suspension of the service
                    until the plan is upgraded with additional bandwidth. To
                    purchase additional bandwidth, the service must be upgraded
                    to the next plan that provides sufficient bandwidth to meet
                    the reseller's needs.
                  </p>
                  <p>
                    <b>7.4.4 Bandwidth Abuse</b> – Hostino reserves the right to
                    shape, suspend or terminate the service of any customer causing
                    stability or performance issues for other customers on the Hostino
                    network. Hostino reserves the right, in a situation where a customer's
                    traffic results in non-viable costs for its business, either
                    to charge the customer at a viable rate (plan/rate change) or
                    to suspend/terminate the service.
                  </p>
                  <p>
                    <b>7.5 Media Streaming</b> – Hostino does not allow media streaming
                    on any of its hosting plans. Customers who wish to provide media
                    streaming services must use our dedicated server plans. Services
                    that do not comply with this clause are immediately suspended
                    without prior notification.
                  </p>
                  <p>
                    <b>7.6 Obsolete offers</b> – Hostino reserves the right to upgrade
                    a customer's account if the contracted offer has become obsolete
                    and is no longer listed on the Hostino website. The customer
                    is notified by email, and the change applies from the due date
                    following the account upgrade.
                  </p>
                </div>

                <div>
                  <h3>8. Third-party tools, applications, and licenses</h3>
                  <p>
                    <b>8.1 Third Party Applications and Licenses</b> – Hostino may
                    provide access to additional third-party software and/or services
                    ("Third-Party Products") through resellers or other commercial
                    agreements that Hostino has established with certain providers
                    ("Third-Party Providers"). Unless otherwise indicated, the customer
                    understands that technical support for third-party products is
                    provided by Hostino and not by the third-party provider. Neither
                    Hostino nor any third-party provider makes any representation
                    or warranty, express or implied, regarding third-party products.
                    The customer expressly acknowledges and agrees that their use
                    of third-party products is at their own risk and that these third-party
                    products are provided "as is" and without representation or warranty
                    of any kind from Hostino or a third-party provider, including,
                    without limitation, any implied warranty of merchantability,
                    fitness for a particular purpose, accuracy, or completeness of
                    responses or results, correspondence to description, or non-infringement
                    of third-party rights. To the maximum extent permitted by applicable
                    law, neither Hostino nor any third-party provider shall be legally
                    liable for any damages, whether direct, indirect, or consequential,
                    arising from the use or inability to use a third-party product.
                    The customer agrees to comply with the terms of any applicable
                    license and/or end-user subscription agreement for third-party
                    products, and the customer will be fully responsible to third-party
                    providers and/or Hostino regarding any inappropriate use of these
                    third-party products or violation of license agreements with
                    them and/or applicable end-user subscription agreements.
                  </p>
                  <p>
                    <b>8.2 Microsoft Licenses</b> – When licenses for Microsoft software
                    have been purchased by Hostino, the customer agrees to comply
                    with Microsoft's license terms, and if usage licenses are purchased,
                    it is the customer's responsibility to ensure they accurately
                    report and obtain the appropriate level of usage licenses for
                    their uses as stated in Microsoft's license terms.
                  </p>
                  <p>
                    <b>8.3 Google Licenses</b> – When licenses for Google software
                    have been purchased by Hostino, the customer agrees to comply
                    with Google's license terms, and if usage licenses are purchased,
                    it is the customer's responsibility to ensure they accurately
                    report and obtain the appropriate level of usage licenses for
                    their uses as stated in Google's license terms.
                  </p>
                  <p>
                    <b>8.4 Features availability</b> – Hostino does not guarantee
                    that all features available in a third-party product will be
                    supported or made available to the customer. It is at the sole
                    discretion of Hostino to determine which features are enabled
                    and whether Hostino will provide assistance for the use of the
                    enabled features.
                  </p>
                </div>

                <div>
                  <h3>9. Additional legal information</h3>
                  <p>
                    <b>9.1 Disclosure to Law Enforcement</b> – Hostino's AUP specifically
                    prohibits the use of our service for illegal activities, and
                    the customer agrees that Hostino may disclose any information
                    about the customer, including assigned IP numbers, account history,
                    account usage, etc., to any law enforcement agent who requests
                    it in writing without further consent or notification to the
                    customer. Hostino reserves the right to immediately terminate
                    any hosting service found to be hosting content and conducting
                    activities of an illegal nature.
                  </p>
                  <p>
                    <b>9.2 System and Network Security</b> – Users are prohibited
                    from violating or attempting to violate the security of the Hostino
                    network. Violations of system or network security may result
                    in civil or criminal liability. Hostino will investigate events
                    that may involve such violations and may involve, and cooperate
                    with, law enforcement authorities to prosecute users who are
                    involved in these violations. These violations include, without
                    limitation:
                  </p>
                  <p>
                    Access to data not intended for this user or connection to a
                    server or account that this user is not authorized to
                    access.
                  </p>
                  <p>
                    Attempting to probe, scan, or test the vulnerability of a
                    system or network or to breach security or authentication
                    measures without proper authorization.
                  </p>
                  <p>
                    Attempting to interfere with the service to any user, host,
                    or network, including, without limitation, by means of
                    overloading, "flooding," "mail bombing," or "crashing."
                  </p>
                  <p>
                    Falsifying the header of a TCP/IP packet or any part of the
                    header information of an email or a message sent to a
                    newsgroup.
                  </p>
                  <p>
                    Undertaking any action to obtain services to which the user
                    is not entitled.
                  </p>
                  <p>
                    <b>9.3 Limitation of Liability</b> – Hostino does not guarantee
                    that any hosting or additional services provided will be error-free
                    or uninterrupted. Hostino will not accept any liability for costs
                    or losses incurred by the customer that result from:
                  </p>
                  <p>the use or inability to use a Hostino service;</p>
                  <p>
                    any errors, faults, omissions, interruptions, defects, or
                    delays in operation or delivery;
                  </p>
                  <p>unauthorized access to Hostino's data or services;</p>
                  <p>
                    suspension or termination of services due to violations of
                    the AUP;
                  </p>
                  <p>
                    suspension or termination of services due to legal
                    obligations.
                  </p>
                  <p>
                    <b>9.4 Indemnification</b> – The customer agrees to indemnify
                    Hostino from all claims, liabilities, losses, costs, and claims,
                    including reasonable legal fees claimed against Hostino, which
                    may arise or result from the use of any hosting service provided.
                  </p>
                  <p>
                    <b>9.5 Modification of these Terms</b> – Hostino reserves the
                    right to modify, update or change these terms of service without
                    prior notice. When changes are made that may impact the customer's
                    use of a Hostino service, the customer will be informed by email
                    using the primary email contact details within an account and
                    the continued operation by the customer of any hosting or additional
                    services constitutes acceptance of these terms of service.
                  </p>
                  <p><strong>ICANN Applied Terms and Conditions:</strong></p>
                  <ul class="list-disc mb-[20px]">
                    <li>
                      https://www.icann.org/resources/pages/approved-with-specs-2013-09-17-en
                    </li>
                    <li>
                      https://www.icann.org/resources/pages/educational-2012-02-25-en
                    </li>
                    <li>
                      https://www.icann.org/resources/pages/benefits-2013-09-16-en
                    </li>
                    <li>https://lookup.icann.org/</li>
                  </ul>
                </div>

                <p class="text-[17px] text-title mb-[10px] poppins-regular">
                  Some domains are governed by the Registrar Soluciones
                  Corporativas IP SL.
                </p>
                <p class="text-[17px] text-title poppins-regular">
                  Last update: October 13, 2024.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
