---
import Layout from "../layouts/Layout.astro";
import TextLeftImageRight from "../components/commonSections/TextLeftImageRight.astro";
import SixCards from "../components/commonSections/SixCards.astro";
import FAQSection from "../components/commonSections/FaqSection.astro";
import HeroHeadingPages from "../components/ui/heroHeadingPages.astro";
import TrustedBySection from "../components/commonSections/TrustedBySection.astro";
import PromoBanner from "../components/ui/PromoBanner.astro";
import HostingSolutionsCards from "../components/sectionsCloudMarocPage/HostingSolutionsCards.astro";
import ServerVps from "../components/sectionsCloudMarocPage/ServerVps.astro";
import PlansPack from "../components/sectionsCloudMarocPage/PlansPack.astro";
import ContactForm from "../components/commonSections/ContactForm.astro";
import { main_schema } from "../mainSchema";

const title = "Cloud Maroc | Sécurité et souveraineté des données";
const description =
  "Cloud Maroc. Solution Cloud de souveraineté numérique, conforme aux obligations légales d'hébergement des données sur le Cloud au Maroc.";
const imageUrl =
  "https://www.hostino.ma/images/hebergement-web.png";
const canonical_url = "https://www.hostino.ma/cloud-maroc/";
const ogAlt = "Cloud Maroc";

const faqData = [
  {
    question: "C'est quoi l'hébergement d'un site web ?",
    answers: [
      "Imaginez votre site web comme une maison. Pour qu'elle soit visible sur internet, il lui faut un terrain. C'est là qu'intervient l'hébergement web.",
      "<ul><li>L'hébergement web, c'est la location d'un espace sur un serveur puissant, connecté à internet.</li><li>C'est sur cet espace que seront stockés tous les fichiers de votre site web (textes, images, vidéos...).</li><li>L'hébergeur web, c'est le propriétaire du terrain. Il vous fournit l'espace et s'occupe de tout pour que votre site web soit accessible 24/24h et 7/7j.</li></ul>",
      "Pour que votre site web soit accessible, il vous faut un nom de domaine, que la plupart des hébergeurs web vous permettent d'acheter en même temps que votre pack d'hébergement, et ils peuvent vous aider à en choisir et à l'enregistrer si vous n'en avez pas encore.",
    ],
  },
  {
    question: "Pourquoi héberger votre site au Maroc ?",
    answers: [
      "Choisir un hébergeur basé au Maroc vous offre de nombreux avantages :",
      "<ul><li><strong>Proximité et performance accrues:</strong> un interlocuteur proche pour une communication fluide et une meilleure compréhension de vos besoins.</li><li><strong>Simplicité et coût abordable :</strong> un support client entièrement marocain pour une assistance aisée et sans barrières linguistiques. Une facturation en dirhams marocains et en TTC pour faciliter vos déclarations de taxes au Maroc.</li><li>Contribution à l'économie nationale et soutien au \"<a href='https://www.madeinmorocco.org/' rel='noopener'>Made in Morocco</a>\" : Vous valorisez le savoir-faire marocain et participez à la croissance économique du pays.</li></ul>",
    ],
  },
  {
    question: "Quelle pack d'hébergement web conviendra à mon projet web ?",
    answers: [
      "Cela varie en fonction de la nature et de l'envergure de votre projet web.",
      "Pour les projets personnels et les petits sites tels que les blogs, vous pouvez opter pour l'hébergement web <strong><a href='https://www.hostino.ma/starty'>Starty</a></strong>. En revanche, pour les projets d'entreprise ou les sites recevant un trafic important, nous recommendons l'hébergement web <strong><a href='/business'>Business</a></strong> ou <strong><a href='https://www.hostino.ma/cloudy'>cloudy</a></strong>.",
    ],
  },
  {
    question: "Quel est le meilleur hébergeur web ?",
    answers: [
      "Que vous soyez un particulier, une petite entreprise ou une grande organisation, Hostino™ a la solution d'hébergement web qu'il vous faut. Avec ses performances, sa fiabilité, ses fonctionnalités complètes et ses prix abordables, Hostino™ est le choix idéal pour héberger votre site web au Maroc.",
    ],
  },
  {
    question:
      "Est-il possible de modifier le pack d'hébergement web après souscription ?",
    answers: [
      "Bien sûr ! Toutes nos offres d'hébergement sont flexibles et ajustables selon vos exigences. Vous avez la possibilité de passer de l'hébergement web Starty® à l'hébergement Business® ou à Cloudy® à tout moment via votre espace client.",
      "Cette mise à niveau s'effectue automatiquement et sans aucune interruption de service.",
    ],
  },
  {
    question: "Quels sont les délais d'activation de ma commande ?",
    answers: [
      "Votre commande d'hébergement sera activée une fois votre paiement est confirmé.",
      "Dans le cas d'un paiement par carte bancaire marocaine (CMI) ou internationale (Stripe), l'activation est presque instantanée. Pour les paiements par virement bancaire, il est nécessaire d'envoyer le justificatif de votre transfert à sales@hostino.com.",
    ],
  },
];


const hostingFeatures = [
  {
    image: "03/hebergeur-marocain.jpg",
    alt: "Souveraineté numérique",
    title: "Souveraineté </br><span>numérique</span>",
    description: `
      Nos serveurs Cloud sont hébergés dans un datacenter situé au Maroc,
      en conformité avec les exigences de souveraineté numérique, les obligations légales d'hébergement local,
      et les normes internationales de sécurité et de fiabilité (<b>certifiés Tier III</b>).
    `,
  },
  {
    image: "03/adresse-ip-maroc.png",
    alt: "Adresse IP marocaine",
    title: "Adresse </br><span>IP marocaine</span>",
    description: `
      Notre solution de cloud souverain vous permet d'obtenir une adresse IP marocaine attribuée à un serveur hébergé
      dans un datacenter <b>situé sur le territoire marocain</b>, avec un temps de réponse très court
      et une conformité aux normes de la CNDP.
    `,
  },
  {
    image: "03/coonectivite-haut-debit.png",
    alt: "Connectivité Haut-Débit",
    title: "Connectivité </br><span>Haut-Débit</span>",
    description: `
      Grâce à nos partenariats avec les <b>opérateurs télécoms</b> locaux au Maroc,
      nous pouvons proposer une connexion Internet haut débit, avec une faible latence
      et un débit personnalisable allant de 1 Mbps à 100 Mbps.
    `,
  },
  {
    image: "03/services-manages.png",
    alt: "Services managés",
    title: "Services </br><span>Managés</span>",
    description: `
      Avec nos solutions d'infogérance cloud souverain au Maroc, vous bénéficiez d'une équipe Ops de proximité,
      <b>experte en technologies Cloud et DevOps</b>, pour assurer la gestion opérationnelle
      de vos serveurs cloud localisés au Maroc.
    `,
  },
  {
    image: "03/securite-monitoring.png",
    alt: "Monitoring et sécurité",
    title: "Monitoring et </br><span>Sécurité</span>",
    description: `
      Notre service de sécurité cloud Maroc offre une protection complète contre les menaces internes et externes,
      assure une gestion rigoureuse des accès, renforce la gouvernance et la conformité des données,
      tout en garantissant <b>une reprise rapide en cas de sinistre</b>.
    `,
  },
  {
    image: "03/conformite-anrt.png",
    alt: "Conformité réglementaire",
    title: "Conformité </br><span>réglementaire</span>",
    description: `
      En optant pour un cloud souverain marocain, vous assurez l'hébergement et la gestion de vos données critiques
      en toute conformité avec la <b>loi 09-08</b> relative à la protection des données personnelles,
      tout en respectant les recommandations de la <b>CNDP</b>.
    `,
  },
];

const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
    ...main_schema,
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hébergement web Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: ogAlt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "962",
      },
    },
  ],
};
---
<Layout 
  title={title}
  description={description}
  canonical_url={canonical_url}
  imageUrl={imageUrl}
  ogAlt={ogAlt}
  articleSchema={articleSchema}
>

  <main>
  
    <HeroHeadingPages
      smallTitle="Cloud Maroc"
      bigTitle="Commander un Cloud souverain au Maroc"
      lineGreen="true"
      classTitle={"sm:px-[0] px-[30px] md:w-[60%] w-[95%] mx-auto"}
    />

    <div class="bg-gray-200 lg:pb-[100px] pb-[80px]">
      <div class="container">
        <div class="md:px-[220px] text-center">
          <p class="paragraph">
            Hébergez vos données sensibles, e-mails, sites web et
            applications dans <b>un datacenter au Maroc </b>🇲🇦. Avec
            Hostino®, profitez de l'offre de
            <b>Cloud souverain</b> la plus accessible et avantageuse du
            Royaume.
          </p>
        </div>
      </div>
    </div>

    <ContactForm
         title={`Remplissez vos infos, <br class="lg:hidden block" /><span class="border-bottom">on s'occupe du reste !</span>`}
     />

    <HostingSolutionsCards  />

    <PromoBanner
      icon="⚠️"
      text=` Nos offres Cloud Maroc sont destinées aux clients qui souhaitent que leurs données <b>soient hébergées sur le territoire marocain</b>. Si vous ne faites pas partie de cette catégorie, découvrez nos offres <span style="text-decoration: underline;"><a href="https://www.hostino.ma/">d’hébergement web</a></span> situées dans des <b>datacenters internationaux</b>.`
      className="lg:w-[75%] lg:mb-[150px] mb-[60px]"
    />

     <TextLeftImageRight
          title="Hébergez vos données sensibles au Maroc"
          paragraphs={[
            "Que vous soyez une entreprise du secteur financier, de la santé, de <b>l’administration publique</b>, ou toute organisation traitant des données sensibles ou soumise à des régulations strictes, choisir un serveur Cloud hébergé au Maroc vous offre une solution conforme aux réglementations locales et permet de réduire significativement les risques liés à la <b>souveraineté des données.</b>",
            'Cette solution garantit que vos données restent sous la juridiction marocaine, tout en assurant une conformité totale avec la <span style="text-decoration: underline;"><a href="https://www.dgssi.gov.ma/fr/loi-09-08-relative-la-protection-des-personnes-physiques-legard-du-traitement-des" rel="noopener"><b>loi 09-08</b></a></span> relative à la protection des données personnelles, la <span style="text-decoration: underline;"><a href="https://www.dgssi.gov.ma/fr/loi-ndeg-0520-relative-la-cybersecurite" rel="noopener"><b>loi 05-20</b></a></span> sur la cybersécurité, ainsi qu’avec les recommandations de la CNDP.',
            "Appelez le +212 531-031-186 et confiez l’hébergement de vos données sensibles à un prestataire de confiance basé au Maroc.",
          ]}
          imageSrc="/images/03/cloud-maroc.jpg"
          imageAlt="Cloud au Maroc"
          consultButtonTextExiste={false}
          className="lg:mt-[150px] mt-[80px] mb-[70px]"
        />

    <TrustedBySection
      classNameImage="md:w-[65%] w-[100%] mx-auto h-auto"
    />

    <SixCards
      title=`Avantages de l'hébergement <br/> Cloud Maroc`
      alignment="center"
      features={hostingFeatures}
    />

    <div class="lg:pt-[120px] bg-gray-200 pt-[50px] pb-[30px]">
      <div class="container text-center flex flex-col gap-7 items-center">
        <h2 class="max-big-title leading-[65px] mb-[20px] tracking-[-3.1px]">
          Hébergement <br class="md:block hidden" />
          <span class="border-bottom">Mutualisé</span> au Maroc
        </h2>
        <p class="paragraph lg:px-[200px] pr-[0]">
          L'hébergement mutualisé de Hostino est une solution économique
          et performante pour héberger vos sites web en toute simplicité
          sur un cloud souverain. En partageant les ressources du serveur,
          vous optimisez vos coûts tout en garantissant la
          <b>conformité avec la réglementation </b> en vigueur dans le
          Royaume.
        </p>
      </div>
    </div>

    <PlansPack />

    <TextLeftImageRight
      title="Qu'est-ce que le Cloud Maroc ?"
      paragraphs={[
        `Le Cloud Maroc (<span style="text-decoration: underline;"><a href="https://www.hostino.ma/en/cloud-morocco/">Cloud Morocco</a></span>) désigne l'ensemble des infrastructures, services et solutions de stockage et de traitement de données numériques opérés localement dans des data centers situés au Maroc. Il répond à une ambition stratégique du pays : renforcer sa <span style="text-decoration: underline;"><a href="https://www.ires.ma/iip/souverainete-numerique/" rel="noopener"><b>souveraineté numérique</b></a></span> en développant des capacités technologiques nationales et en réduisant la dépendance vis-à-vis des solutions étrangères.`,
        `Ce modèle localisé permet une meilleure maîtrise des données sensibles, qu'elles soient <b>d'ordre gouvernemental</b>, industriel ou personnel. Grâce à une approche rigoureuse de la gouvernance des données, les flux numériques sont encadrés de manière transparente, conforme aux exigences de traçabilité, de confidentialité et d'intégrité. Le Cloud Maroc contribue ainsi à renforcer la cybersécurité du pays, en intégrant des protocoles stricts de <b>surveillance et de défense contre les menaces</b> numériques, tout en développant des compétences locales en sécurité informatique.`,
      ]}
      imageSrc="images/10/cloud-souverain-maroc.jpg"
      imageAlt="Cloud souverain au Maroc"
      consultButtonTextExiste={false}
    />

    <ServerVps />

    <FAQSection faqData={faqData} title="FAQ - Cloud Maroc" />
    
  </main>

</Layout>

