---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/commonSections/HeroSection.astro';
import TrustedBySection from '../components/commonSections/TrustedBySection.astro';
import WhatsHostingSection from '../components/commonSections/WhatsHostingSection.astro';
import FastestHostingSection from '../components/commonSections/FastestHostingSection.astro';
import DomainSearchSection from "../components/commonSections/DomainSearchSection.tsx";
import EasyHebergementSection from "../components/commonSections/EasyHebergementSection.astro"
import BenefitsSection from "../components/commonSections/BenefitsSection.astro"
import WhyChooseSection from "../components/commonSections/WhyChooseSection.astro"
import BenchmarkHostingMorocco from "../components/commonSections/BenchmarkHostingMorocco.astro"
import PlansSection from "../components/commonSections/PlansSection.astro"
import SixCards from '../components/commonSections/SixCards.astro';
import FAQSection from '../components/commonSections/FAQSection.tsx';
import { SEO } from "astro-seo";


import Head from "./Head.astro";





const {
const title = "Hébergement Web Maroc - Hébergeur web 100% marocain";
const description =
  "Hébergement Web Maroc. Hostino™️ Hébergeur recommandé par les développeurs, les agences web et les professionnels du numérique au Maroc";
const imageUrl =
  "https://www.hostino.ma/wp-content/uploads/2024/10/hebergement-web.png";
const canonical_url = "https://www.hostino.ma/";
const og_alt = "Hébergement Web Maroc";
} = Astro.props;



const articleSchema = {
  "@context": "https://schema.org",
  "@graph": [
  
    {
      "@type": "BreadcrumbList",
      "@id": "https://www.hostino.ma/#breadcrumb",
      itemListElement: [
        {
          "@type": "ListItem",
          position: "1",
          item: {
            "@id": "https://www.hostino.ma",
            name: "Hostino - Noms de domaine et hébergement web au Maroc",
          },
        },
        {
          "@type": "ListItem",
          position: "2",
          item: {
            "@id": canonical_url,
            name: og_alt,
          },
        },
      ],
    },
    {
      "@type": "Product",
      name: title,
      url: canonical_url,
      description: description,
      brand: { "@type": "Brand", name: "Hostino" },
      offers: {
        "@type": "AggregateOffer",
        url: canonical_url,
        lowPrice: "118",
        priceCurrency: "MAD",
        availability: "InStock",
      },
      aggregateRating: {
        "@type": "AggregateRating",
        ratingValue: "5",
        reviewCount: "920",
      },
    },
  ],
};
---



<Layout 
  title={title}
  description={description}
  canonical={canonical_url}
  ogImage={imageUrl}
  ogAlt={og_alt}
>
	<SEO
      title: {
    template: "%s | Hostino",
    default: title,
  },
  description: description,
  robots:
    "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large",
  alternates: {
    canonical: canonical_url,
  },
  openGraph: {
    type: "website",
    locale: "fr_FR",
    url: canonical_url,
    siteName: "Hostino",
    title: title,
    description: description,
    images: [
      {
        url: imageUrl,
        secureUrl: imageUrl,
        width: 1200,
        height: 630,
        alt: og_alt,
        type: "image/png",
      },
    ],
  },
  twitter: {
    card: "summary_large_image",
    title: title,
    description: description,
    images: [imageUrl],
    creator: "@admin",
  },
    />

  <script type="application/ld+json" set:html={JSON.stringify(articleSchema)} />

  <main>
    <HeroSection consultButton={true}/>
	<PlansSection  />
  	<TrustedBySection classNameImage="md:w-[80%] w-[100%] mx-auto h-auto brightness" />
  	<WhatsHostingSection />
	<DomainSearchSection id="ma" />
	<WhyChooseSection />

    <FastestHostingSection />
    <EasyHebergementSection />
	<BenefitsSection />
	<BenchmarkHostingMorocco />


  </main>
</Layout>