---
import AnimatedButton from "../ui/AnimatedButton.astro";

export type Plan = {
  id: number;
  name: string;
  subtext: string;
  price_original: string;
  price_discounted: string;
  save: string;
  price_ttc: string;
  performance_stars: number;
  wordpress_alt: string;
  seo_alt: string;
  more_performance: {
    text: string;
    href: string;
    exists: boolean;
  };
  order: {
    text: string;
    href: string;
  };
  features: {
    seo_optimized: boolean;
    free_domain: boolean;
    wordpress_preinstalled: boolean;
    control_panel: string;
    ssl: string;
    disk_space: string | number;
    bandwidth: string;
    databases: number | string;
    email_accounts: number | string;
    subdomains: number;
    backups: string;
  };
  most_popular: {
    text: string;
    is_most_popular: boolean;
  };
};

export interface Props {
  class?: string;
  title?: string;
  smallTitle?: string;
  plans?: Plan[];
}

const hostingPlans: Plan[] = [
  {
    id: 1,
    name: "Web Hosting<br/> <i>Eco</i>",
    subtext: "Low-cost package to launch and test your website.",
    price_original: "299 DH/yr",
    price_discounted: "199 DH/yr",
    save: "33%",
    price_ttc: "For 1 year, you pay <b>238.8 DH</b> (incl. tax).",
    performance_stars: 1,
    wordpress_alt: "wordpress Eco",
    seo_alt: "SEO Optimized Eco",
    more_performance: {
      text: "More performance ?",
      href: "/en/business-web-hosting/",
      exists: true,
    },
    order: {
      text: "Order Now",
      href: "https://my.hostino.com/order.php?pid=70&language=english&country=MA&promocode=UI12E&1=USD",
    },
    features: {
      seo_optimized: true,
      free_domain: false,
      wordpress_preinstalled: true,
      control_panel: "cPanel®",
      ssl: "Free and unlimited",
      disk_space: "10 GB NVMe",
      bandwidth: "100 GB",
      databases: 1,
      email_accounts: 1,
      subdomains: 1,
      backups: "JetBackup",
    },
    most_popular: {
      text: "MOST POPULAR",
      is_most_popular: false,
    },
  },
  {
    id: 2,
    name: "Web Hosting<br/><i>Starty</i>",
    subtext: "Everything you need to launch and publish a small website.",
    price_original: "499 DH/yr",
    price_discounted: "399 DH/yr",
    price_ttc: "For 1 year, you pay <b>478.8 DH</b> (incl. tax).",
    save: "20%",
    performance_stars: 2,
    wordpress_alt: "wordpress Starty",
    seo_alt: "SEO Optimized Starty",
    more_performance: {
      text: "More performance ?",
      href: "/en/business-web-hosting/",
      exists: true,
    },
    order: {
      text: "Order Now",
      href: "https://my.hostino.com/order.php?pid=36&language=english&country=MA&currency=1&promocode=UI12S",
    },
    features: {
      seo_optimized: true,
      free_domain: true,
      wordpress_preinstalled: true,
      control_panel: "cPanel®",
      ssl: "Free and unlimited",
      disk_space: "25 GB NVMe",
      bandwidth: "250 GB",
      databases: 5,
      email_accounts: 5,
      subdomains: 5,
      backups: "JetBackup",
    },
    most_popular: {
      text: "MOST POPULAR",
      is_most_popular: true,
    },
  },
  {
    id: 3,
    name: "Web Hosting<br/><i>Business</i>",
    subtext: "Level up with more power and enhanced features for <b>corporate websites</b>.",
    price_original: "1199 DH/yr",
    price_discounted: "999 DH/yr",
    price_ttc: "For 1 year, you pay <b>1198,8 DH</b> (incl. tax).",
    save: "33%",
    performance_stars: 3,
    wordpress_alt: "wordpress Business",
    seo_alt: "SEO Optimized Business",
    more_performance: {
      text: "More performance ?",
      href: "/en/business-web-hosting/",
      exists: true,
    },
    order: {
      text: "Order Now",
      href: "https://my.hostino.com/order.php?pid=42&language=english&country=MA&currency=1&promocode=UI12B",
    },
    features: {
      seo_optimized: true,
      free_domain: true,
      wordpress_preinstalled: true,
      control_panel: "cPanel®",
      ssl: "Free and unlimited",
      disk_space: "50 GB NVMe",
      bandwidth: "Unlimited",
      databases: "Unlimited",
      email_accounts: 10,
      subdomains: 10,
      backups: "JetBackup",
    },
    most_popular: {
      text: "MOST POPULAR",
      is_most_popular: false,
    },
  },
];

const { title = "Chose your perfect<br>Web hosting plan", plans = hostingPlans } = Astro.props;
---

<section id="plans" class=" lg:mb-[150px] plans-section mb-[80px]" id="plans">
  <div class="container mx-auto">
    <h2 class="title-section text-center pb-[30px] poppins-semibold  text-title" set:html={title}></h2>
    

    <div class="grid section-plans text-title lg:grid-cols-3 gap-8">
      {plans.map((plan) => (
        <div
          class={`${
            plan.most_popular.is_most_popular && "border-3 border-primary"
          } bg-white relative lg:text-left text-center rounded-[10px] lg:w-full md:w-[70vw] w-full mx-auto mb-4 md:pt-[55px] md:px-[50px] md:pb-[50px] lg:pt-[50px] lg:pb-[40px] lg:px-[40px] pt-[45px] px-[25px] pb-[35px] shadow_main h-full`}
        >
          {plan.most_popular.is_most_popular && (
            <div class="absolute py-[4px] bg-primary w-[60%] px-[5px] sm:px-[6px] text-[16px]  sm:left-1/3 left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 text-white text-center font-[500] inline-block">
              <AnimatedButton
                text={plan.most_popular.text.toUpperCase()}
                hoverText={plan.most_popular.text.toUpperCase()}
                bgColor="bg-primary"
                textColor="text-white"
              />
            </div>
          )}
          
          <h3 class="text-[27px] poppins-semibold leading-[35px] text-title text-title mb-[20px]" set:html={plan.name}></h3>
          <p class="text-title text-[14px] mb-4" set:html={plan.subtext}></p>
          
          <div class="border-t border-gray-200 my-[40px]"></div>
          
          <div class="mb-4">
           <div class="flex items-center lg:justify-start justify-center gap-2 mb-2">
              <span
                class={`numbers text-primary poppins-semibold  line-through text-lg`}
              >
                {plan.price_original}
              </span>
              <span
                class={`numbers bg-primary py-[8px] text-white text-[15px] poppins-semibold  px-[10px] rounded-[8px]`}
              >
                Save {plan.save}
              </span>
            </div>
            <div class="text-[16px] text-title poppins-semibold  mb-1">For only</div>
            <span
              class={`numbers text-[45px] poppins-semibold leading-[54px] text-title`}
            >
              {plan.price_discounted}
            </span>
          </div>
          
            <a
            href={plan.order.href}
            class={`w-full ${
              plan.most_popular.is_most_popular
                ? "bg-primary"
                : "bg-title hover:bg-primary transition"
            }  btn-order-plan`}
            target="_blank"
            rel="noopener noreferrer"
          >
            {plan.order.text}
            <svg
              fill="none"
              viewBox="0 0 24 24"
              stroke-width={4}
              stroke="currentColor"
              class="size-3 poppins-semibold "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m8.25 4.5 7.5 7.5-7.5 7.5"
              />
            </svg>
          </a>
          
          <p class="text-[15px] text-title mb-4" set:html={plan.price_ttc}></p>
          
          <div class="border-t border-gray-200 my-[40px]"></div>
          
          <div class="mb-4">
            <div class="flex lg:justify-start justify-center items-center gap-2 mb-4">
              <span class="poppins-semibold  text-title">Performances</span>
              {Array.from({ length: 5 }).map((_, i) => (
                <svg
                  key={i}
                  width="18"
                  height="18"
                  fill={i < plan.performance_stars ? "#FFA500" : "none"}
                  stroke={i < plan.performance_stars ? "none" : "#FFA500"}
                  stroke-width="2"
                  viewBox="0 0 24 24"
                  class={i < plan.performance_stars ? "" : "mr-0.5"}
                >
                  <path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.857 1.524 8.276L12 18.897l-7.46 4.542 1.524-8.276L.001 9.306l8.331-1.151z"></path>
                </svg>
              ))}
            </div>
          </div>
          
          <div class="space-y-1 text-[15px] text-title">
            {plan.features.seo_optimized && (
              <p class="text-title">

              {
                    plan.id === 3 ? (
                       <img src="/images/google-svg.svg" alt="SEO" class="inline w-4 h-4 mr-1" />

                    ) : (
                         <img src="/images/google-svg-dark.svg" alt="SEO" class="inline w-4 h-4 mr-1" />

                    )
                  }
                <span class={plan.id === 3 ? "" : "text-gray-400"}>
                  {
                    plan.id === 3 ? (
                        <><b>SEO</b> Optimized</>
                    ) : (
                      <>SEO Optimized</>
                    )
                  }
                </span>
              </p>
            )}
            {plan.features.free_domain ? (
              <p class="text-title">
                <span class={"text-title"}>
                  Free <b><i>domain name</i></b>
                </span>
              </p>
            ) : (
              <p class="text-title">
                <span class={"text-gray-400"}>
                  Free <b><i>domain name</i></b>
                </span>
              </p>
            )}
            {plan.features.wordpress_preinstalled && (
              <p class="text-title">
                <img src="/images/wp.svg" alt="WordPress" class="inline w-4 h-4 mr-1" />
                <b>Pre-installed WordPress</b>
              </p>
            )}
            <p class="text-title">
              Control panel <b><i>{plan.features.control_panel}</i></b>
            </p>
            <p class="text-title">{plan.features.ssl}</p>
            <p class="text-title">
              Disk Space: <b>{plan.features.disk_space}</b>
            </p>
            <p class="text-title">
              Bandwidth: <b>{plan.features.bandwidth}</b>
            </p>
            <p class="text-title">
              Databases: <b>{plan.features.databases}</b>
            </p>
            <p class="text-title">
              Email Accounts: <b>{plan.features.email_accounts}</b>
            </p>
            <p class="text-title">
              Subdomains: <b>{plan.features.subdomains}</b>
            </p>
            <p class="text-title">
              Backups: <b>{plan.features.backups}</b>
            </p>
          </div>
          
          {plan.more_performance.exists && (
            <div class="mt-4">
              <a
                href={plan.more_performance.href}
                class="text-title underline text-[15px] poppins-semibold"
              >
                {plan.more_performance.text}
              </a>
            </div>
          )}
        </div>
      ))}
    </div>
  </div>
</section>

