---
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
import HeaderEn from "../components/layout/HeaderEn.astro";
import FooterEn from "../components/layout/FooterEn.astro";
import Footer from "../components/layout/Footer.astro";
import { AstroFont } from "astro-font";
import Unfont from 'unplugin-fonts/astro/component.astro';
import CrispChat from "../components/CrispChat.astro";  // ADD THIS
import CookieConsent from '../components/CookieConsent.astro';
import CookieConsentEn from '../components/CookieConsentEn.astro';




interface Props {
  title?: string;
  description?: string;
  canonical_url?: string;
  imageUrl?:string;
  ogAlt?: string;
  articleSchema? : any;
  lang?: string  
}

const {
  title,
  description ,
  canonical_url ,
  imageUrl,
  ogAlt ,
  articleSchema,
  lang
} = Astro.props;

---
<!doctype html>
<html lang={lang == "en" ? "en-US" : "FR-MA"}>
    <head>
        <Unfont />

        

		 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  		<meta charset="UTF-8" />
        <title>{title}</title>
      <meta name="description" content={description} />
  <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
  <link rel="canonical" href={canonical_url} />

  <meta property="og:type" content="website" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:url" content={canonical_url} />
  <meta property="og:site_name" content="Hostino" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={imageUrl} />
  <meta property="og:image:secure_url" content={imageUrl} />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:image:alt" content={ogAlt} />
  <meta property="og:image:type" content="image/png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={imageUrl} />
  <meta name="twitter:creator" content="@admin" />

  <link rel='dns-prefetch' href='//client.crisp.chat' />
    <link rel='dns-prefetch' href='//client.relay.crisp.chat' />
    <link rel='dns-prefetch' href='//www.googletagmanager.com' />

    <link rel='preconnect' href='https://client.crisp.chat' crossorigin />
    <link rel='preconnect' href='https://client.relay.crisp.chat' crossorigin />
    
	      	<link rel="icon" type="image/ico" href="/favicon.ico" />

    {articleSchema && (
      <script type="application/ld+json" set:html={JSON.stringify(articleSchema)} />
    )}

   <script is:inline> (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5QLCSWWS');</script>

     
    

	</head>

	<body >

<!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe 
        src="https://www.googletagmanager.com/ns.html?id=GTM-5QLCSWWS"
        height="0" 
        width="0" 
        style="display:none;visibility:hidden"
        title="Google Tag Manager">
      </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    

	  {lang !== "en" ? <Header />  : <HeaderEn />}
		<slot />

    {lang !== "en" ? <Footer />  : <FooterEn />}

   { lang !== "en" ?  <CookieConsent/> : <CookieConsentEn/> }


    <CrispChat />

    <div>
        <a href="https://wa.me/212675165070" 
        target="_blank" rel="noopener noreferrer" 
        class="fixed sm:hidden block  bottom-10 left-4 z-[1111] w-12 h-12 bg-[#25D366] rounded-full flex items-center justify-center shadow-lg hover:shadow-xl hover:scale-110 transiti on-all duration-300 group" aria-label="Contact us on WhatsApp"><svg viewBox="0 0 32 32" class="w-8 h-8 fill-white" xmlns="http://www.w3.org/2000/svg"><path d="M16 0c-8.837 0-16 7.163-16 16 0 2.825 0.737 5.607 2.137 8.048l-2.137 7.952 7.933-2.127c2.42 1.37 5.173 2.127 8.067 2.127 8.837 0 16-7.163 16-16s-7.163-16-16-16zM16 29.467c-2.482 0-4.908-0.646-7.07-1.87l-0.507-0.292-5.245 1.408 1.408-5.245-0.292-0.507c-1.224-2.162-1.87-4.588-1.87-7.070 0-7.72 6.28-14 14-14s14 6.28 14 14-6.28 14-14 14zM23.407 19.51c-0.407-0.204-2.397-1.183-2.77-1.319-0.373-0.136-0.644-0.204-0.915 0.204s-1.053 1.319-1.291 1.59c-0.237 0.271-0.475 0.305-0.882 0.102s-1.722-0.635-3.278-2.023c-1.212-1.081-2.030-2.416-2.267-2.823s-0.025-0.628 0.179-0.831c0.184-0.184 0.407-0.475 0.611-0.712s0.271-0.407 0.407-0.678c0.136-0.271 0.068-0.509-0.034-0.712s-0.915-2.207-1.254-3.023c-0.339-0.815-0.678-0.678-0.915-0.678s-0.509-0.034-0.78-0.034-0.712 0.102-1.087 0.509c-0.373 0.407-1.427 1.394-1.427 3.399s1.461 3.942 1.665 4.213c0.204 0.271 2.817 4.434 6.865 6.196 4.047 1.762 4.047 1.173 4.776 1.105s2.397-0.982 2.735-1.929c0.339-0.947 0.339-1.757 0.237-1.929s-0.373-0.271-0.78-0.475z"></path></svg><span class="absolute inset-0 rounded-full bg-[#25D366] animate-ping opacity-75 group-hover:opacity-0"></span></a>
    </div>

	</body>
</html>