---

import AnimatedButton from "../../components/ui/AnimatedButton.astro";

interface Props {
  smallTitle?: string;
  bigTitle: string | TrustedHTML;
  lineGreen?: boolean;
  className?: string;
  classTitle?: string
}

const { smallTitle, 
        bigTitle, 
        lineGreen = false, 
        className , 
        classTitle,
        btn, 
        href,
        nameBtn
        } = Astro.props;
---

<div
  class={`${className ? className : "pb-[20px]"} col-span-1 flex md:pt-[100px] pt-[80px] flex-col bg-gray-200 custom-row-gap md:mb-0  text-center md:text-left`}
>
  <div class="flex flex-col gap-[20px]">
    {smallTitle && (
      <h1 class="md:text-[19px] text-center text-[18px] poppins-semibold  tracking-[-0.5px] text-title">
        {smallTitle}
      </h1>
    )}
    <div class=`${classTitle}`>
      <h2
        class="max-big-title title-hero-section  title text-center poppins-semibold  text-title"
        set:html={bigTitle as string}
      ></h2>
    </div>
    {lineGreen && (
      <div class="flex py-[10px] justify-center">
        <div class="lg:w-[8%] md:w-[17%] w-[12%] h-[5px] bg-primary"></div>
      </div>
    )}

    {
      btn && (
        <a href={href} class="inline-block max-w-max mx-auto text-white">
          <AnimatedButton
            text={nameBtn}
            hoverText={nameBtn}
            bgColor="bg-primary"
            textColor="text-white"
            hoverBgColor="bg-title"
            class="py-[12px] px-[40px] poppins-semibold  rounded-lg"
          />
        </a>
         )
    }
    
  </div>
</div>

